[2016-12-21 02:42] wheredoesyourmindgo opened #1 "Aot Compatible"
First off excellent. Thanks for sharing @AhsanAyaz .

Feature Request:
Could you add the necessary mechanisms/configuration to allow this module to be used with Angular Ahead of time compiler?

[2016-12-22 08:43] AhsanAyaz commented on #1
@wheredoesyourmindgo Thanks for the suggestion. I'll look into it as soon as possible.

[2016-12-28 17:32] wellno14 commented on #1
i'm joining please add AOT support thank :)

[2017-01-24 11:28] darkkean commented on #1
Fixed this on my end. Pending [PR](https://github.com/KoderLabs/ng2-device-detector/pull/2).

[2017-02-15 06:54] manisankar92 opened #3 "throw the error while install the ng2-device-dector package"
I am using node v7.2.0, npm 3.10.9, Ubuntu OS. I have tried to install the ng2-device-detector. it is throwing the error. Please find below npm-debug log for your reference.

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/nodejs',
1 verbose cli   '/usr/bin/npm',
1 verbose cli   'install',
1 verbose cli   'ng2-device-detector',
1 verbose cli   '--save' ]
2 info using npm@3.10.9
3 inf

[2017-02-26 17:10] AhsanAyaz commented on #3
Hi. @manisankar92 . Sorry for reaching out late.
Let me know if you're still facing the issue.

[2017-02-26 19:20] Faris-AH opened #4 "ERROR :in Ng2DeviceDetector is not an NgModule"
cloned  a fresh project using angular cli .
shows "ERROR in Ng2DeviceDetector is not an NgModule"

[2017-03-06 21:55] toanqc commented on #3
I have the same issue when installing on Windows 10. Below is the error logs

npm ERR! argv "C:\\Program Files\\Nodejs\\node.exe" "C:\\Program Files\\Nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v7.7.1
npm ERR! npm  v4.1.2
npm ERR! code ELIFECYCLE
npm ERR! ng2-device-detector@0.1.0 postinstall: `typings install`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the ng2-devi

[2017-03-06 22:34] toanqc commented on #3
Installed typings by `npm i typings -g` and then install the package fixed my problem.

[2017-03-07 13:24] AhsanAyaz commented on #3
Hi @manisankar92.
Yes as the script says :
` Failed at the ng2-device-detector@0.1.0 postinstall script 'typings install'.`
The issue might be that the module `typings` is not installed on your system.
This should be solved by installing typings globally as `npm i typings -g` as @toanqc mentioned. Thanks.

[2017-03-07 13:24] #3 closed

[2017-03-09 11:31] karan83 commented on #4
I am also getting **ERROR in Ng2DeviceDetector is not an NgModule** error after upgrade Angular Cli (**@angular/cli: 1.0.0-rc.1**). It was working fine with with **angular-cli:1.0.0-beta.28.3**
Also it does work if i give absolute path of module like **path-to-node_module/ng2-device-detector/dist**

[2017-03-12 13:01] AhsanAyaz commented on #1
Merged the PR from @darkkean

[2017-03-12 13:01] #1 closed

[2017-03-12 15:40] AhsanAyaz commented on #4
@karan83 , @Faris-AH . The issue is with the recent angular-cli versions which is opened [here](https://github.com/angular/angular-cli/issues/3426)

The issue is that when you serve the first time, it throws this error. The quick workaround (until angular-cli resolves this issue) is :

- do `ng serve`
- comment out the line where you're importing `Ng2DeviceDetector` in your `@ngModule`. Save the f

[2017-03-14 04:39] Faris-AH commented on #4
Hacks always work.Thanks.

[2017-03-14 04:40] #4 closed

[2017-03-14 12:03] karan83 commented on #4
@AhsanAyaz , Thanks for reply. I did development same way you mentioned. It does show error only first time, but my concern is that i am not able to make build for production.

[2017-03-14 12:06] AhsanAyaz commented on #4
@karan83 . Since this is an issue with angular-cli, i'm not sure if there's a way to make the build successful except downgrading to `angular-cli:1.0.0-beta.28.3`.
I'll still look into it to see if there's a way. I'll update here.

[2017-03-29 21:40] JomaKar opened #5 "problems with installation"
I'm trying to use the ng2-device-detector with angular cli in my angular2.3.1 app. But as soon as i type the npm command to install it I get this console error:
error Failed at the ng2-device-detector@0.1.0 postinstall script 'typings install'.

Full message:
error Darwin 15.6.0
error argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "ng2-device-detector" "--save"
error node v6.9.4
error n

[2017-03-30 04:07] AhsanAyaz commented on #5
@JomaKar . This seems like a possible duplicate of #3
Do try the solution mentioned in the comments of the issue. Feel free to re-open this issue if it persists.

[2017-03-30 04:07] #5 closed

[2017-03-31 15:32] slavP opened #6 "AOT compiler - Unexpected value 'Ng2DeviceDetector in ng2-device-detector/dist/index.d.ts"
I'm getting
`Unexpected value 'Ng2DeviceDetector in [...]/node_modules/ng2-device-detector/dist/index.d.ts' imported by the module 'AppModule in [...]/app/app.module.ts'. Please add a @NgModule annotation.`

while compiling with aot compiler using:
`./node_modules/.bin/ngc -p tsconfig-aot.json
`
everything works just fine with regular ts compiler. It this a bug or am I missing something?

my compo

[2017-03-31 18:25] sushruth commented on #6
I too am getting the same error.

[2017-04-02 15:59] sushruth commented on #6
@slavP I have a fix for this and I have created a pull request for this. Can you help me confirm if the pull request fixes your issue ? to confirm, you will have to remove this plugin from your project and then install the forked version in your project using this command :

[code]

and then try to build your code to see if you still get the error or not. Share your results here in either case.

[2017-04-03 07:17] slavP commented on #6
@sushruth The forked version does solve the issue for me

[2017-04-03 12:56] sushruth commented on #6
@slavP Thanks for verifying.

[2017-04-04 18:23] marko999 commented on #3
Hi,

Unfortunately this is not viable solution on a build server, and it doesn't work every time...on my local machine I was able to fix it build server is failing with the same message....

[2017-04-05 11:47] AhsanAyaz commented on #6
[Pull request 7](https://github.com/KoderLabs/ng2-device-detector/pull/7 ) seems to have resolved this issue

[2017-04-05 11:47] #6 closed

[2017-04-21 05:57] deepakzoto opened #9 "Errro While installing the plugin(Angular 4)"
'typings' is not recognized as an internal or external command,
operable program or batch file.
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.1: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})
npm ERR! Windows_NT 10.0.10240

[2017-04-21 06:36] AhsanAyaz commented on #9
Hi @deepakzoto .

This is a Duplicate of #3 .
The issue might be that the module typings is not installed on your system.
This should be solved by installing typings globally as `npm install typings -g` and then either re-installing the plugin or by running the post install i.e. `typings install` in the root project.
Closing the issue, kindly re-open if it still persists.
Thanks.

[2017-04-21 06:36] #9 closed

[2017-05-07 23:21] queejie commented on #4
Thanks for the module.  This is still an issue with angular 4 and the latest cli (1.0.1).  I'm not able to get it to compile with it commented out.  Are you sure it is a bug with angular-cli?

[2017-05-17 20:43] cb03037 commented on #4
I just took all the code from the node_modules package and made my own module, and service inside my app. So I can produce builds now.

[2017-05-19 10:10] DaveSin commented on #4
Any chance that you could share that module, to save me having to do the exact same thing?

[2017-05-21 22:51] langfors opened #10 "'typings' not explicit dependency"
The 'typings' command is used as a post build step for this package, yet it is not listed in package.json as a dependency.  It is assumed global.  This causes my CI build to fail b/c my CI environment does not have (nor should have) typings as a globally installed dependency.

[2017-05-24 10:16] #10 closed

[2017-05-31 11:56] philklei opened #12 "ng build --prod not working"
I got this error while building with ng build --prod

ERROR in ./src/$$_gendir/app/app.module.ngfactory.ts
Module not found: Error: Can't resolve 'ng2-device-detector/ng2-device-detector' in '\src\$$_gendir\app'
 @ ./src/$$_gendir/app/app.module.ngfactory.ts 27:0-68
 @ ./src/main.ts
 @ multi ./src/main.ts

[2017-06-02 09:21] baihech opened #13 "Why not export const?"
There is no const enum  export at index.ts.
I must look the code when comparing the browser.
like,`this.device.browser === 'ie'`

[2017-06-02 12:10] AhsanAyaz commented on #12
@philklei Are you using v1.0.0 ?

[2017-06-02 12:12] AhsanAyaz commented on #13
@baihech Thanks for mentioning. It is a good idea. Will include this soon. Or you can do it and create a PR perhaps :)

[2017-06-06 04:07] baihech commented on #13
@AhsanAyaz Thanks，export ng2-device.constants,what do you think?

[2017-06-12 08:52] Korbraan opened #14 "Error when importing the module"
When importing the module in Angular 2 (Webpack), the app build fine, but I got an error in the browser and the screen remains blank.

If I only import the module without adding it in the providers, I get no error.

The error :
`Uncaught SyntaxError: Unexpected token import`

My app.module.ts file :

`import {NgModule} from '@angular/core';
import {BrowserModule} from '@angular/platform-browser';

[2017-06-12 08:56] AhsanAyaz commented on #14
Hi @Korbraan .
Can you paste your code regarding the statement `If I only import the module without adding it in the providers, I get no error.`

I.e. on which situation is it giving error? When not using `.forRoot()`?

[2017-06-12 09:03] Korbraan commented on #14
Here is the code related to this statement :
``import {NgModule} from '';
import {BrowserModule} from '';
import {AppComponent} from './component/app.component';
import {routing, appRoutingProviders} from './app.routing';
import {FormsModule} from '';
import {Http, HttpModule} from '';
import {Ng2DeviceDetectorModule} from 'ng2-device-detector';

@NgModule({
imports: [
BrowserModule,
FormsModule,

[2017-06-12 09:56] MAhsenArif commented on #12
@AhsanAyaz I can confirm this error does occur with `ng build --prod`.

cli: 1.0.0
node: 7.8.0
npm 4.2.0

[2017-06-12 10:02] AhsanAyaz commented on #12
@MAhsenArif The [demo link](https://koderlabs.github.io/ng2-device-detector) attached with this repository is working in `--prod` mode. You can check the build pipeline [here](https://travis-ci.org/KoderLabs/ng2-device-detector). Not sure why is it causing issue.
I'll still give it a go tonight to see the cause.

[2017-06-12 10:20] MAhsenArif commented on #12
@AhsanAyaz the problem seems to be when it runs with angular 2 packages.
[code]

I've tried a test prod build with Angular 4 packages:

[code]
and the prod build is successful.

Doesn't really help me though since my project is based on Angular 2. Could you test and see why it doesnt work for Angular 2.

[2017-06-12 10:45] AhsanAyaz commented on #12
@MAhsenArif Sure I will look into it tonight.
One strong recommendation would be to update your angular packages as there might be lot of similar issues occurring with other libraries too as you go forward.

[2017-06-14 04:47] khoanguyenlio commented on #4
This problem will fixed when we upgrade to the verison ng2-device-detector@1.0.0.
But some how, if you guys don't want to upgrade version to 1.0.0 and keep using 0.1.0. Just create this. I tested in my project:
`import { ReTree } from 'ng2-device-detector/dist/services/retree.service';
import { CommonModule } from '@angular/common';
import { ModuleWithProviders, NgModule } from '@angular/core';
im

[2017-06-14 06:25] AhsanAyaz commented on #12
@MAhsenArif Are you using ng2-device-detector@1.0.0  ?

[2017-06-14 07:23] MAhsenArif commented on #12
@AhsanAyaz Yes the version is `^1.0.0`

[2017-06-29 11:03] shalom26 commented on #12
same here working on angular 2 project ,build failed... any solution ?

[2017-07-16 10:08] maciejtreder opened #15 "Not working with server-side rendering"
When using server side rendering (Angular Universal). I am running into isuse

    ERROR { ReferenceError: window is not defined

[2017-07-21 09:45] Coffee-Tea commented on #12
the same problem on Angular 2.4.0.
need help :)

[2017-07-29 05:38] dbarochia opened #17 "false reported"

[2017-07-29 17:08] #17 closed

[2017-08-04 14:21] fred-shepherd commented on #12
I'm also having this problem on Angular 2.4.0.

[2017-08-08 07:45] boly38 opened #18 "Demo doesn't work on IE"
Hi,
Interested by this project, I would like to test it on IE. And I stay on "Loading..." label..
https://koderlabs.github.io/ng2-device-detector/

Dev console told me "Edge" mode.
I got the following error:
    SCRIPT5007: Impossible d’obtenir la propriété  « apply » d’une référence null ou non définie
    Fichier : vendor.9453f49b2080b3bef38d.bundle.js, ligne : 8, colonne : 770

polyfills error?

[2017-08-10 06:46] submoron opened #19 "Error: Unable to dynamically transpile ES module"
Hello

When I try to launch my project, I've got the following error :

[code]

This is the first module that causes me this error.
I've try to add :
`transpiler: 'typescript'`
To the systemJS file, but when I launch the app it doesn't load any view, It doesn't throw an error in the console neither.

I'm using angular 4

Any other solution would be welcome,

Anis

[2017-08-10 13:29] AhsanAyaz commented on #19
Hi @submoron . I'll look into this but I have no prior knowledge related to the issues you're facing. If anyone from the community can help, that'll be awesome.

[2017-08-11 05:54] submoron commented on #19
Ok, I hope someone is familiar with this problem, thanks for your answer !

[2017-09-05 23:34] josel82 commented on #12
I'm also having this problem

@angular/cli: 1.0.6
node: 8.4.0
os: darwin x64
@angular/common: 4.3.6
@angular/compiler: 4.3.6
@angular/core: 4.3.6
@angular/forms: 4.3.6
@angular/http: 4.3.6
@angular/platform-browser: 4.3.6
@angular/platform-browser-dynamic: 4.3.6
@angular/router: 4.3.6
@angular/cli: 1.0.6
@angular/compiler-cli: 4.3.6

[2017-09-24 13:56] louiswilbrink commented on #12
This is working for me -- my project is rather new, about 3 weeks old using Angular CLI and minimal packages.

[2017-09-24 14:34] AhsanAyaz commented on #12
@louiswilbrink thanks for the info.

This seems to be an issue with Angular2.x and seems to work fine with Angular4.x

[2017-10-03 14:02] tlcoder commented on #14
I found a solution, you need to add the below to your systemjs.config.js file under the map section:

'ng2-device-detector': 'node_modules/ng2-device-detector/ng2-device-detector.umd.js'

[2017-11-10 09:14] Keksdroid opened #20 "Update to ngx and support Angular 5"
Hello,
this library still works on Angular 5, but produces a warning that no peer of Angular 4 is installed. Would be nice if you would officially support Angular 5.
Also the package should be named ngx-device-detector, since Angular 4 is supported.

[2017-11-15 12:08] elessariel commented on #20
seconded

[2017-12-18 11:35] purewater11 commented on #18
Quite eager to use this library but this library does not work in IE. Defeats the whole purpose of creating this library in the first place!. Would help if this issue can be fixed.

[2017-12-19 16:46] joGrim65 commented on #20
Hello,
I have the same issue too (_peer invalid: @angular/core@^4.0.0, required by ng2-device-detector@1.0.0_).
Have you a roadmap to official migrate this module to a version compliant with Angular 5?
Thanks a lot

[2017-12-20 10:28] AhsanAyaz commented on #20
Hi @joGrim65 .
Yeah I plan to do it this weekend.
If anyone wants to take it and create PR instead, more than welcome !

[2018-01-05 01:06] danieltorrer commented on #14
I'm getting the same issue when using angular universal.

angular 5.1.3
angular cli 1.6.3

[code]

Does any one knows a workaround?

[2018-01-05 08:37] #20 closed

[2018-01-05 10:12] #15 closed

[2018-01-05 10:32] #13 closed

[2018-01-05 10:38] AhsanAyaz commented on #18
@boly38 , @purewater11
Unfortunately I could not test it having a macbook.
Couldn't find an easy way to have Edge running on my machine.
Will try to do it this weekend. Feel free to create a PR if you can find a solution.

[2018-01-05 10:39] #19 closed

[2018-01-05 10:40] AhsanAyaz commented on #19
@submoron Please check with the latest version of the library if it solves your problem. If not, feel free to comment / re-open

[2018-01-05 10:41] AhsanAyaz commented on #14
@danieltorrer
Can you try the latest release of `ngx-device-detector` and let me know if the issue still perists ?

[2018-01-05 10:41] #12 closed

[2018-01-05 16:25] danieltorrer commented on #14
@AhsanAyaz the problem is solved in the latest version. thanks for the awesome support!

[2018-01-05 16:42] AhsanAyaz commented on #14
@danieltorrer
You're most welcome 🙂 Keep building amazing stuff !

[2018-01-05 16:42] #14 closed

[2018-01-05 21:34] bryanforbes opened #22 "Peer dependency for `@nguniversal/express-engine` needs updated"
In the 1.1.4 release, the `peerDependency` for `@nguniversal/express-engine` is `^1.0.0-beta.2`. This should probably be updated to `^5.0.0-beta.5` to keep npm from complaining.

[2018-01-09 12:56] milesich commented on #18
@AhsanAyaz you can download free virtual machine with Edge on Windows 10 that you can run on mac at https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2018-01-10 01:05] Malabarba opened #23 "Can't resolve '@nguniversal/express-engine/tokens'"
Might be related to #22

I've upgraded from ng2-device-detector to ngx-device-detector. I've also updated both the module name and the service name in my code.

However, when I try to run the app with `ng serve` I get a huge exception on the console. Below I'm pasting the first few lines of the error:

[code]

I don't use nguniversal, is it possible to run ngx-device-detector without it? I didn't

[2018-01-10 09:23] ImranAhmed commented on #18
![image](https://user-images.githubusercontent.com/2539520/34764937-e5f887b4-f5e7-11e7-8f52-f6a86024a550.png)

[2018-01-17 16:47] dockleryxk commented on #23
I use nguniversal and still get this error. What is your Angular version?

[2018-01-18 10:38] Malabarba commented on #23
I believe it's 5.1.3, but I can check when I get home.

[2018-01-18 15:13] dockleryxk commented on #23
I got this same error on 4.4.4

[2018-01-19 11:36] arangelp commented on #23
I am having the same error. I am not sure angular universal

[2018-01-23 08:35] katafractari commented on #23
Getting the same error.

[2018-01-25 17:39] harikrishnan-u01 commented on #23
Hi Guys,

I also get the same error and its now a big bummer for me to upgrade to Angular 5.
Kindly help me to fix this as soon as possible.

Thanks,
Hari

[2018-01-27 12:25] #22 closed

[2018-01-27 12:25] #23 closed

[2018-01-27 12:28] AhsanAyaz commented on #23
Hey guys!
Sorry for the delay 🙂 Was caught up in a lot of stuff.
The package now depends on `@nguniversal/express-engine`.
I've updated the Readme with the information. Also published a newer version with correct peerDependency.

[2018-01-27 17:26] Malabarba commented on #23
Thanks Ahsan. 👍

[2018-02-01 11:34] sercandumansiz opened #25 "Metadata version missmatch error"
Metadata version mismatch for module d:/a/1/s/node_modules/ngx-device-detector/ngx-device-detector.d.ts, found version 4, expected 3

I am getting this error while building my app.

[2018-02-01 14:47] dockleryxk commented on #25
This is an angular 4/5 problem. I think it is something to do with the peerDependencies here: https://github.com/KoderLabs/ngx-device-detector/blob/master/src/package.json

What version are you using of this package and Angular?

[2018-02-06 08:02] zifeiyuSun commented on #25
I have the same error：
`{
  "name": "client",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "client_serve": "ng serve --port 4201 --proxy-config proxy.conf.json --live-reload false",
    "dev": "ng serve -sm --port 4201 --proxy-config proxy.conf.json --prod --aot=false --live-reload false",
    "desktop": "ng serve --port 4201 --proxy-config proxy.conf.desktop.json --live-reload fal

[2018-02-06 08:37] AhsanAyaz commented on #25
@zifeiyuSun and @sercandumansiz
This is an issue with incompatible angular versions as @dockleryxk mentioned.

You can see the possible solutions from here:
https://github.com/angular/material2/issues/8229

But in general, you can either roll back to one of the previous releases that work for you. For instance, try [v1.1.4](https://github.com/KoderLabs/ngx-device-detector/releases/tag/v1.1.4). *OR

[2018-02-06 14:38] andreyan-andreev commented on #18
Just for testing, you can try adding this to your index.html

[code]

[2018-02-08 15:51] ramparvataneni commented on #25
We are having the same issue, unfortunately we cannot upgrade to Angular 5, we are currently using 4.3.2. I tried installing ngx-device-detector 1.1.7, 1.1.4, 1.1.0, all of them giving same mismatch error

[2018-02-09 07:23] AhsanAyaz commented on #25
@dockleryxk I just tried that locally and it has no effect. Still getting the metadata mismatch error.
Unfortunately, this is something that can't be fixed as far as I've researched. I've seen the only fix other libraries have proposed is upgrading to Angular 5.

Below is a quick way of doing that:

`npm install @angular/animations@'^5.0.0' @angular/common@'^5.0.0' @angular/compiler@'^5.0.0' @angu

[2018-02-09 15:08] figuerres commented on #18
same here, i need to know if a user is running an old browser, so i need code that works with at least IE 10 and 11.
ideally we also need a stub page that we can detect and handle older IE versions.

[2018-02-09 16:51] dockleryxk commented on #25
@AhsanAyaz that is unfortunate. My proposed fix worked for ng-simple-slideshow. It must have something to do with the compilation/rollup.

[2018-02-09 17:04] AhsanAyaz commented on #25
@dockleryxk would you have some time this weekend to look into it perhaps?

[2018-02-09 17:21] dockleryxk commented on #25
Yes I don't mind at all. To be honest I think I got lucky with fixing mine. Before, I just used a version tag on my releases for Angular 4 which is an awful way to do it.

[2018-03-01 15:00] cbetrifork opened #27 "Error with @nguniversal/express-engine version 5.0.0-beta.6"
**Error Message**
ERROR in ./node_modules/ngx-device-detector/ngx-device-detector.umd.js
Module not found: Error: Can't resolve '@nguniversal/express-engine/tokens' in 'C:\....\node_modules\ngx-device-detector'

**Possible Reason**
"@nguniversal/express-engine" version "5.0.0-beta.6" no longer contains "tokens.js" which ngx-device-detector version "1.1.7" demands to work.

[2018-03-01 17:51] brendanairvuz commented on #27
looks like the request, response tokens are now exposed like this: `import {REQUEST} from '@nguniversal/express-engine'`

[2018-03-01 18:16] wildlifechorus commented on #27
Is there a quick fix for this?

[2018-03-01 18:16] alcidesqueiroz commented on #27
Reverting and locking `@nguniversal/express-engine` to version `5.0.0-beta.5` worked here, though it seems a bit hackish to me.

[2018-03-01 18:26] AhsanAyaz commented on #27
@alcidesqueiroz certainly. That can be a temporary solution but not a permanent one.
@brendanairvuz would you be able to look into this issue anytime soon?

[2018-03-01 20:05] brendanairvuz commented on #27
@AhsanAyaz yes I can, it should be a quick fix and I'll submit a PR today or tomorrow.

[2018-03-04 10:00] doronsever commented on #27
Any news?

[2018-03-04 14:41] AhsanAyaz commented on #27
Can you guys try now with the latest release `1.2.0`?

[2018-03-04 21:05] zSkalin commented on #27
I'm receiving this error now,

`Uncaught Error: Can't resolve all parameters for DeviceDetectorService: ([object Object], ?).`

I'm using:

[2018-03-04 23:17] DuncanFaulkner commented on #27
I had just hit the same error and this seems to have fixed the issue for me, cheers

[2018-03-05 05:23] #25 closed

[2018-03-09 11:03] marticrespi opened #29 "Can't resolve all parameters for DeviceDetectorService: ([object Object], ?)"
Hi, I use a CoreModule to import this service with an own wrapper service, to can manage its options.

Here is my core.module.ts

    @NgModule({
      imports: [CommonModule, HttpClientModule, ApolloModule, HttpLinkModule, DeviceDetectorModule.forRoot()],
      declarations: [],
      providers: [
        DeviceService,
        AuthService,
        HttpClient
		....
      ]
    })
    export clas

[2018-03-10 09:13] BBoyBreaker commented on #27
Same error with version 1.2.1, i am using [ngx-rocket](https://github.com/ngx-rocket/generator-ngx-rocket)

[2018-03-10 16:17] kmishima commented on #18
hi, i need ie10 and ie11 compatibility too. The bug is related to line

import * as Constants from './device-detector.constants';

Can you provide a fix? Thanks

[2018-03-11 18:02] Mc128k opened #30 "Compatibility with Webpack"
Hi, is this module compatible with Webpack? It seems that the `@nguniversal/express-engine module` requires 'fs' which is not available on browsers.

[2018-03-11 18:12] Mc128k commented on #30
I might add that making it work requires the following code in the webpack configuration:
[code]

Which effectively makes the module a dummy I think.

[2018-03-11 21:50] Mc128k opened #31 "Unnecessary big dependency"
I see that the library requires `@nguniversal/express-engine`, which is a pretty big dependency. Wouldn't it be easier for AoT apps to just be not dependent on it? I created the services on my app and removed the dependency, and they work fine because they can get the user agent from the current browser window. Apparently the express-engine is only for apps that run on servers and it's not useful

[2018-03-12 20:33] neophd commented on #27
Same error happens yet. I'm using angular 5. Follow below error log:

ERROR in ./node_modules/@nguniversal/express-engine/src/main.js
Module not found: Error: Can't resolve '@angular/platform-server' in 'D:\workspace\talentos\frontend\node_modules\@nguniversal\express-engine\src'
resolve '@angular/platform-server' in 'D:\workspace\talentos\frontend\node_modules\@nguniversal\express-engine\src'
  P

[2018-03-13 03:51] JonCubed opened #32 "Can't compile, remove dependency on @nguniversal/express-engine"
When I run the dev server I am getting the following error

[code]

I'm using Angular CLI with ASP.NET backend for SSR.

One possible solution is to provide an InjectionToken for userAgent instead and we can setup the provider in main.ts and main.server.ts

[2018-03-14 13:30] TRAHOMOTO commented on #32
I have same issue

[2018-03-16 11:48] flackjap opened #33 "How much @nguniversal/express-engine adds to the bundle"
This is not an issue, but rather just a question which I don't know where else to ask.

Since nguniversal/express-engine is required, how much it adds to the final bundle, assuming the AOT (tree-shaking) is done?

I wouldn't use this module if it uses a lot of code from nguniversal/express-engine. If it's the case, I would go with something smaller since I only need to detect a browser. The only w

[2018-03-22 08:39] abhijeet1403 commented on #29
@marticrespi i changed it to nguniversal/express-engine: 5.0.0-beta.7,... beta.6 , ...beta.5
It's not working with any.

[2018-03-22 18:50] safatseyeva commented on #31
Currently express-engine (5.0.0-beta.6) increases the bundle size by about ~600kb. Fix for this - https://github.com/angular/universal/pull/930 (available in beta.7, also fix in device-detector.service.ts required). Agree that express-engine is not useful for statically served apps and better not to use express-engine dependency in order not to increase bundle size.

[2018-03-22 18:51] safatseyeva commented on #31
@AhsanAyaz can you please take a look? Thanks!

[2018-03-22 20:31] craigmatthew412 commented on #30
I am running into the same issue, however, I'm using angular-cli and cannot add that config to my webpack.config unless I eject which is not desirable (unless I'm missing something with the angular-cli)

[2018-03-22 22:43] Mc128k commented on #30
You can just create your own service and copy some code as I did. See [here](https://github.com/KoderLabs/ngx-device-detector/issues/31). This works only for browser apps, and that's until this project can work without the dependency, which is necessary in some cases, so we will see what the maintainer will decide about it.

[2018-03-23 10:35] AhsanAyaz commented on #29
Hey guys. Please try with release `1.2.2` and let me know if that fixes the issue.

[2018-03-23 10:36] AhsanAyaz commented on #30
The support for `@nguniversal/express-engine` has been removed temporarily.
Please try with release `1.2.2` and let me know if that fixes the issue.

[2018-03-23 10:38] AhsanAyaz commented on #31
@Mc128k , @safatseyeva
The support for `@nguniversal/express-engine` has been removed temporarily.
I will be looking into handling this once and for all in April because of lack of time. Feel free to play around and create a PR if someone can.
We could also split the packages into two. One for browsers and one for SSR. Not sure that's a good idea though.

[2018-03-23 10:38] AhsanAyaz commented on #32
@JonCubed , @TRAHOMOTO
The support for `@nguniversal/express-engine` has been removed temporarily.

[2018-03-23 10:39] AhsanAyaz commented on #33
@flackjap
The support for `@nguniversal/express-engine` has been removed temporarily. Closing this issue.
Please try the release `1.2.2`.
Feel free to re-open the issue if it persists.

[2018-03-23 10:39] #33 closed

[2018-03-23 10:39] #32 closed

[2018-03-23 10:49] Mc128k commented on #30
Yup, it works.

[2018-03-23 10:49] #30 closed

[2018-03-23 12:48] mouf13 commented on #29
yes, it works !, thx

[2018-03-23 13:03] #29 closed

[2018-03-23 14:38] GabKas commented on #18
Hi,
this might be the solution for your problem:
https://stackoverflow.com/questions/46036097/angular-4-error-in-ie11

[2018-03-24 20:29] AhsanAyaz commented on #18
@kmishima, @figuerres, @milesich, @ImranAhmed   please check the suggestion by @GabKas and let me know if that fixes the issue for you.

[2018-03-26 19:56] g-guth commented on #25
Any news on that? Having the same problem here.

[2018-03-26 19:57] AhsanAyaz commented on #25
@g-guth which version of `ngx-device-detector` you have?
Do install the latest version.

[2018-03-27 13:28] g-guth commented on #25
I´m using the latest version. 1.2.2 with angular 4.

[2018-03-29 15:10] arjan674 commented on #25
I have the same problem.

[code]

I tried other versions such as `v1.1.4` but that resulted in a
`Can't resolve '@nguniversal/express-engine/tokens'`

[2018-04-02 21:38] mycroft16 commented on #25
@g-guth Thank you for that! That worked for me as well.

[2018-04-03 11:42] FirassKoubaa commented on #18
+1

[2018-04-03 12:40] arjan674 commented on #25
@AhsanAyaz Are there any updates?

I am using v1.2.2 and I am still getting this error with Angular 4.

[2018-04-12 15:43] putchi opened #34 "ERROR in Metadata version mismatch for module "ngx-device-detector" found version 4, expected 3"
Hi @AhsanAyaz,
In your repo you mentioned that this repo can be run on Angular 2 (4) and up...
but when you try to compile it on AOT mode it breaks.

you wrote in your package json dev dependencies for: @angular/compiler and @angular/core to be at least 5.
please change them to bellow:
"angular/compiler": "^4.0.0"
"angular/core": "^4.0.0"
so that this repo could actually work in angular 4 too and

[2018-04-17 08:43] aswalgarima opened #35 "Metadata version mismatch for module "ngx-device-detector" found version 4, expected 3"
If it is supportable to Angular2 and beyond versions then why there is a mismatch error. Please anyone knows then let me know how it is compatible with Angular2 ?

[2018-04-17 10:11] AhsanAyaz commented on #34
Hi @putchi ,
Thanks for the kind words.
I believe the metadata version is crucial to support Angular5 and lowering it down wouldn't be the best solution.
See the following stack overflow answer to know better:
https://stackoverflow.com/questions/47534610/error-in-metadata-version-mismatch-for-module-x-found-version-4-expected-3-res/47534611

In short, you can either update the Angular dependencies

[2018-04-17 10:12] AhsanAyaz commented on #35
Duplicate of #34

@aswalgarima please see my comment on #34

[2018-04-17 10:12] #35 closed

[2018-04-17 10:49] aswalgarima commented on #34
@AhsanAyaz ,
ng2-device-detector@1.0.0 not work with AOT. Please look into this.

Thanks

[2018-04-19 09:46] aswalgarima commented on #34
@AhsanAyaz ,
Now ng2-device-detector@1.0.0 is not working with aot. But 1 day before it was. Don't knw what happening.

[2018-04-19 10:47] AhsanAyaz commented on #34
@aswalgarima nothing has changed for the `1.0.0` from this side.
Maybe some dependencies are causing the issues? Can you share the error log?

[2018-04-25 10:01] aswalgarima commented on #34
@AhsanAyaz ,
Error I got using ng2-device-detector@1.0.0 with aot build

![error](https://user-images.githubusercontent.com/38457274/39239147-aba9cbfa-489d-11e8-98ba-1850e95de4f2.png)

[2018-04-28 07:56] chat-du-cheshire commented on #18
Hi, you can test it in IE https://angular-bkz6wg.stackblitz.io/

[2018-05-02 08:51] markoffden commented on #18
Any updates on the issue? This lib is handy, but makes no sense w/o being able to track most problematic IE browsers

[2018-05-02 08:57] ImranAhmed commented on #18
I switched to using this:
https://github.com/braintree/browser-detection

[2018-05-02 10:05] #18 closed

[2018-05-02 10:16] AhsanAyaz commented on #18
@markoffden, @ImranAhmed

Please see the PR and the below section for IE support:
https://github.com/KoderLabs/ngx-device-detector#ie9-ie10-ie11-compatibility

Let me know if this resolves the issue.

[2018-05-04 07:45] PascalHonegger opened #37 "Update PeerDependency to Angular 6"
Angular 6 was released today and I would like to use this package without install warnings. This also includes updating the rxjs peerDependency (even though I don't see how rxjs is required by this package). I tested this component in an angular 6 app without any problem.

[2018-05-04 23:31] anfho93 commented on #34
Any solution with the Error?

[2018-05-05 12:36] putchi commented on #34
I you’ll lower the metadata version in the metadata.json it will compile on both NG-4 and NG-5 with or without the AOT build.

A temp patch until the lib owner could check it out is manually changing the metadata.json that is in the ng2-device-detector directory (change the version from 4 to 3) and the build will work.

[2018-05-12 20:59] alfaproject commented on #37
`rxjs` isn't required and should be removed from peer dependencies.

[2018-05-18 11:41] AhsanAyaz commented on #37
Thanks again @PascalHonegger .
#39 closed this issue.

[2018-05-18 11:41] #37 closed

[2018-05-18 11:45] AhsanAyaz commented on #34
Dropped support for Angular 2, 4 since release [v1.3.0](https://github.com/KoderLabs/ngx-device-detector/releases/tag/v1.3.0).

[2018-05-18 11:45] #34 closed

[2018-05-29 21:58] ParraPower opened #40 "Can't resolve all parameters for DeviceDetectorService: ([object Object], ?)"
Hi Ahsan,

I was get the error above when consuming this library for an AngularMaterial project.

Just wanted to confirm, is Angular5+ required for this library.  Angular4 is being used for the project I am working on.

Regards,
Ahmed.

[2018-05-30 11:04] AhsanAyaz commented on #40
Hi @ParraPower. Yes we dropped support for Angular4.
You can try using earlier releases like `0.1.0` and see if that works for you. The latest release however will not work.

[2018-05-30 11:04] #40 closed

[2018-05-30 21:42] ParraPower commented on #40
Thanks @AhsanAyaz.

[2018-06-08 13:59] ramparvataneni opened #41 "OS unknown for iOS"
os_version is derived as "Unknown" for iPhone and iPads, though it is displaying user agent properly. Any idea fixing this or do we need get the OS version from the user agent.

[2018-07-04 17:32] rajinder-yadav opened #43 "Not detecting firefox on desktop"
Firefox running on macos is not getting detected using `isDesktop()`.

MacOS: 10.13.5 (17F77)
Firefox: 62.0b4 (64-bit)
Angular: 6.0.0

[2018-07-04 20:49] AhsanAyaz commented on #43
@rajinder-yadav Thanks for posting the issue, will be looking into this during this weekend.
PRs are much appreciated.

[2018-07-07 07:10] panagulis72 opened #44 "Device Unknow"
Hi, I'm Angular 6 and I installed the Library to detect the user device and User Agent. The last one works fine, but device type is 'unknow'.. why? I'm using a Desktop MAC, running windows 8 in virtual machine. I'm doing the test with Chrome  67.0.3396.99 and IE 11, both of them return same result:
<img width="869" alt="device" src="https://user-images.githubusercontent.com/31587362/42407957-a17e4

[2018-07-07 07:20] AhsanAyaz commented on #44
@panagulis72 what's your desired output?

This is working as intended. The information is fetched from the [UserAgent](https://www.w3schools.com/jsref/prop_nav_useragent.asp). And is mainly meant to identify the browser and the device type. Not the exact manufacturer of the device.
Let me know if you see the information you require in the `userAgent` and still don't get the desired output via the

[2018-07-07 07:44] panagulis72 commented on #44
My target is to detect the device type, so if the user is using a mobile, desktop or table. Is that possibile?

[2018-07-07 09:50] AhsanAyaz commented on #44
@panagulis72 yeah that's possible.
You can do `this.deviceDetectorService.isMobile()`
See the [source code](https://github.com/KoderLabs/ngx-device-detector/blob/master/src/device-detector.service.ts#L101) for further functions.
Thanks for pointing this out, I'll update the readme as well.

[2018-07-07 13:40] panagulis72 commented on #44
It works very well, andthe documentation is now even more useful. Thank you very much!

[2018-07-07 14:09] AhsanAyaz commented on #44
@panagulis72 thanks :)

[2018-07-07 14:09] #44 closed

[2018-07-08 12:53] rajinder-yadav commented on #43
Hi @AhsanAyaz I also checked FF 61.0 (64-bit) on Linux and it seems to be working, let me double check when I get into the office on Monday.

[2018-07-09 20:01] rajinder-yadav commented on #43
Closing, this does not seem to be an issue.

[2018-07-09 20:01] #43 closed

[2018-07-17 14:01] jayaramanTricon opened #45 "Metadata version mismatch"
Hi,

I am using Angular 4.2.4, and ngx 1.3.0. But I facing issue of ERROR in Error: Metadata version mismatch for module ../node_modules/ngx-device-detector/ngx-device-detector.d.ts, found version 4, expected 3, resolving symbol AppModule in

Could you please let me know what is the solution for this and I have tried with different version also.

[2018-07-20 07:00] ORECHN commented on #45
Same problem here. did you solve it?

[2018-07-20 07:07] ORECHN commented on #45
dublicate #34

this helps (comment from putchi)
A temp patch until the lib owner could check it out is manually changing the metadata.json that is in the ng2-device-detector directory (change the version from 4 to 3) and the build will work.

[2018-07-22 12:50] AhsanAyaz commented on #45
@jayaramanTricon closing as duplicate of #34

[2018-07-22 12:50] #45 closed

[2018-08-08 14:05] smohammedyasin commented on #41
os_version is derived as "Unknown" for iPhone, iPads and Andriod. any update on this issue?

[2018-08-08 15:27] smohammedyasin opened #46 "redirect based on device"
Question:

how can i redirect to different website url based on device before render view.

[2018-08-13 17:11] Gailbear opened #47 "Missing support for Edge on Android"
The user agent for android edge is "EdgA" as opposed to "Edge". About to open a pull with the fix.

(The pull also adds support for the samsung browser.)

[2018-09-06 17:05] Gailbear opened #50 "No support for UC Browser"
Apparently this browser is also part of my use case. PR incoming.

[2018-09-12 10:45] rmatec opened #52 "The device info os defaults to mac on iOS devices"
Hi,

I noticed the os variable in the device info is set to `mac` on iOS devices.

[2018-09-12 12:27] surendran-psibertech opened #53 "Device id unknown"
![image](https://user-images.githubusercontent.com/37789556/45424715-fffded00-b6b4-11e8-8e9f-685ea45c53bb.png)

I need system's device id. But it showing unknown. What i need to change??? help me.

[2018-09-20 14:01] knnhcn opened #54 "isTablet not recognized with Surface Book in Tablet mode"
The boolean isTablet() is not recognizing the surface book in tablet mode. It's still showing as desktop.

[2018-10-20 10:44] AhsanAyaz commented on #53
@surendran-psibertech the plugin uses the `window.navigator.userAgent` to fetch out the device information.
If a browser doesn't provide this information, it would be set "unknown"

[2018-10-20 10:44] #53 closed

[2018-10-20 10:45] AhsanAyaz commented on #52
@rmatec  the plugin uses the window.navigator.userAgent to fetch out the device information.

[2018-11-12 20:49] AsimNet commented on #37
same thing with Angular7

[2018-11-13 10:06] dlaundon commented on #52
Can this be reopened or shall I post another issue?

Safari on my iPhone is being incorrectly reported as mac. The user agent is:

Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1

The iOS regular expression is matching, but so is the Mac one due to the presence of "like Mac OS X", and it seems to be winning.

[2018-11-13 18:01] AhsanAyaz commented on #52
Thanks for reporting this @dlaundon.
I'll re-open this one and will get on to it as soon as I got some space.

[2018-12-12 16:17] FirassKoubaa opened #59 "Windows Tablets detected as PC and not Tablets"
Under Tablets holding Windows OS , the methods :

- isTablet() = false
- isDesktop() = true

[2018-12-19 08:36] tmair opened #60 "Headless Chrome not detected as Chrome browser"
Headless Chrome is not detected as Chrome Browser.

The userAgent string is similar to `"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/71.0.3578.98 Safari/537.36"`

[2018-12-28 18:17] rafaelwalter opened #62 "fail to detect chrome browser v1.3.5"
the function getDeviceInfo() on DeviceDetectorService returns an incorrect browser when using chrome.

happened on version 1.3.5, but works until v1.3.4

[2019-01-02 19:43] the-destro opened #63 "Update PeerDependency to Angular 7"
Very similar to:
https://github.com/KoderLabs/ngx-device-detector/issues/37

[2019-01-02 19:45] the-destro commented on #63
nvm, my update missed this

[2019-01-02 19:45] #63 closed

[2019-01-24 03:54] ipushkarr opened #64 "iPad Pro is not detectable"
isTable() is not working for iPad Pro. It is showing as "Desktop" only. Please advice to fix this issue.

[2019-01-24 09:09] DuncanFaulkner opened #65 "failed to detect Android tablet"
running the deviceservice.isTablet() does not recognise Android tablet (samsung tablet in this case), returns mobile.

Is this a know issue and is there a fix coming?

[2019-02-20 13:43] nachaespada commented on #52
Any update about this issue?
Thanks!

[2019-03-08 11:34] r-ising opened #66 "Warning in Build"
Hello,

i am using your npm package in a angular 7 project and i get the following warning in the build process of angular:

`No name was provided for external module 'ngx-device-detector' in output.globals – guessing 'ngxDeviceDetector'`

Can you fix it?

Thanks

[2019-03-11 18:53] SSTPIERRE2 opened #67 "Doesn't detect mobile devices using "desktop site" version of a website"
I'm finding this happening on an emulated pixel 2 using Chrome, so I'm not sure if it also happens in other browsers with the desktop site feature. Basically, a device using the desktop feature in Chrome is recognized as a desktop machine using this package.

[2019-03-11 19:58] AhsanAyaz commented on #67
@SSTPIERRE2 I don't think that's an issue with the plugin. Chrome opens the desktop version when you use that feature which potentially includes the `userAgent`. If that's emulated by the browser, the plugin can't identify if it is being opened by a mobile device.

[2019-03-13 15:52] #67 closed

[2019-03-13 15:53] AhsanAyaz commented on #66
@r-ising I'll be looking into it this week.

[2019-03-26 13:30] ntrcpt commented on #64
I cannot reproduce this issue. I just tested on an iPad Pro and it works as expected.

[2019-03-26 13:32] AhsanAyaz commented on #64
@ntrcpt  I could reproduce this on my Samsung Tablet. Hopefully, I'll be patching a fix soon (if I didn't get a pull-request by someone else earlier 😅 )

[2019-03-26 13:37] ntrcpt commented on #64
@AhsanAyaz thanks for the quick reply. I thought this issue is about iPad Pro only.

[2019-03-26 13:39] AhsanAyaz commented on #64
@ntrcpt My bad. I thought this issue was the generic one.
Closing as you've not been able to reproduce this. Thanks for confirming 👍.

[2019-03-26 13:39] #64 closed

[2019-03-26 13:39] AhsanAyaz commented on #65
@DuncanFaulkner yes I'll be working on the fix and will publish a patch soon.

[2019-04-15 09:17] SimonKnu commented on #65
Hi,
Any news about this issue ?

[2019-05-11 13:21] #60 closed

[2019-05-29 08:26] alvaro-octal opened #70 "Extend peer dependencies to Angular 8"
**Issue description**

running `npm install` throws the following warning:

[code]
**Steps to reproduce and a minimal demo of the problem**

`npm install` with Angular 8

**Current behavior**

`npm install` shows a couple of warning due to peer dependencies.

**Expected/desired behavior**

No warnings should be shown

[2019-05-31 20:07] vucko opened #71 "Ivy build doesn't work on version 8"
On new angular version 8, ng build --prod doesn't work if ivy render is enabled.
If ivy render is disabled build working correctly.

ERROR in ENOENT: no such file or directory, open 'node_modules/ngx-device-detector/ngx-device-detector.js'

Try to make build with https://github.com/ng-packagr/ng-packagr

[2019-06-05 17:20] jrrod507 opened #74 "MS Edge Chromium is detected as Chrome"
The new MS Edge Chromium is being detected as Chrome.

[2019-06-05 17:23] jrrod507 commented on #74
A pull request has been created for this issue. Thanks.

[2019-06-05 22:41] AhsanAyaz commented on #74
Closed by https://github.com/KoderLabs/ngx-device-detector/pull/73.
Thanks @jrrod507

[2019-06-05 22:41] #74 closed

[2019-06-05 22:45] AhsanAyaz commented on #71
@vucko. this should've been resolved by the new release `v1.3.6`
https://github.com/KoderLabs/ngx-device-detector/releases/tag/v1.3.6

Feel free to re-open the issue if that still persists.

[2019-06-05 22:45] #71 closed

[2019-06-05 22:46] AhsanAyaz commented on #70
@alvaro-octal . this should've been resolved by the new release `v1.3.6`
https://github.com/KoderLabs/ngx-device-detector/releases/tag/v1.3.6

Feel free to re-open the issue if that still persists.

[2019-06-05 22:46] #70 closed

[2019-06-05 22:46] AhsanAyaz commented on #66
@r-ising this should've been resolved by the new release `v1.3.6`
https://github.com/KoderLabs/ngx-device-detector/releases/tag/v1.3.6

Feel free to re-open the issue if that still persists.

[2019-06-05 22:46] #66 closed

[2019-06-05 22:47] AhsanAyaz commented on #62
@rafaelwalter, it seems a _bit late_ to reach out, 🤷‍♂ But do you still face this?
Can you share the object that's returned from the service for you?

[2019-06-17 06:13] Manu1909 commented on #65
Any update about this issue?
Thank you!

[2019-06-17 12:22] codeepic opened #81 "_setDeviceInfo() method not called in production when using AOT in version 1.3.6 - works fine on 1.3.5"
ngx-device-detector - 1.3.6
angular-cli - 7.2.2

When I build on localhost - everything is alright, when I use the same build commands (tried 3 of them) and enable sourcemaps to set up breakpoints, the `_setDeviceInfo()` method is not called. And because the DevieDetectorService variables are not set when the function doesn't run, all calls to `getUserInfo()`, `isMobile()` etc return either empty

[2019-06-17 14:55] codeepic commented on #81
I locked the ngx-device-detector npm package version at 1.3.5 in package.json file by excluding the caret ^ character and redeployed to dev environment and it is correctly updating device information in `DeviceDetectorService ` by running `_setDeviceInfo()` method.

[2019-06-28 06:59] oveshparasara opened #85 "if device resoulution 1080x2280 then not detect mobile like as one plus 6t"
if device resoulution 1080x2280 then not detect mobile like as one plus 6t

[2019-06-28 22:25] AhsanAyaz commented on #59
Fixed by https://github.com/KoderLabs/ngx-device-detector/releases/tag/1.3.7
Please see the breaking changes to use `1.3.7`

[2019-06-28 22:25] #59 closed

[2019-06-28 22:25] AhsanAyaz commented on #54
Fixed by https://github.com/KoderLabs/ngx-device-detector/releases/tag/1.3.7
Please see the breaking changes to use `1.3.7`

[2019-06-28 22:25] #54 closed

[2019-06-28 22:25] AhsanAyaz commented on #65
Fixed by https://github.com/KoderLabs/ngx-device-detector/releases/tag/1.3.7
Please see the breaking changes to use `1.3.7`

[2019-06-28 22:25] #65 closed

[2019-06-28 22:26] AhsanAyaz commented on #81
@codeepic
Fixed by https://github.com/KoderLabs/ngx-device-detector/releases/tag/1.3.7
Please see the breaking changes to use `1.3.7`

[2019-06-28 22:26] #81 closed

[2019-06-28 22:27] AhsanAyaz commented on #85
@oveshparasara can you please test with [Release 1.3.7](https://github.com/KoderLabs/ngx-device-detector/releases/tag/1.3.7) ?

[2019-06-28 22:27] AhsanAyaz commented on #62
Closing the issue being stale.

[2019-06-28 22:27] #62 closed

[2019-06-28 22:28] AhsanAyaz commented on #41
@smohammedyasin , @ramparvataneni this is fixed by https://github.com/KoderLabs/ngx-device-detector/releases/tag/1.3.7
Please see the breaking changes to use `1.3.7`. Feel free to re-open if the issue persists.

[2019-06-28 22:28] #41 closed

[2019-06-28 22:30] AhsanAyaz commented on #52
Hey Folks. I know it's probably too late.
But this is fixed by https://github.com/KoderLabs/ngx-device-detector/releases/tag/1.3.7
Please see the breaking changes to use `1.3.7`. The iPhones now show `iOS` properly.

Feel free to re-open if the issue persists.

[2019-06-28 22:30] #52 closed

[2019-07-01 11:40] rezo-evodion opened #90 "No device and os Version after new update"
Hello,
I looked in the demo and I think two features were downgraded after update:

device   Unknown

os_version
Thanks.

[2019-07-01 12:14] AhsanAyaz commented on #90
@rezo-evodion could you provide more details?
I.e. what device you were trying to detect. What output did you get etc.

[2019-07-01 12:20] rezo-evodion commented on #90
I am using windows on my notebook, I clicked on the Demo:
![unkown_device](https://user-images.githubusercontent.com/30620008/60435998-55d35f80-9c0b-11e9-8c05-babfc1feab11.JPG)

[2019-07-01 12:22] AhsanAyaz commented on #90
@rezo-evodion and what was the output before?

[2019-07-01 12:24] rezo-evodion commented on #90
For me, the output was Windows 10, now it is empty ?! should I use something else?!

[2019-07-01 15:23] breuerfelix opened #91 "after update to 1.3.7: forRoot() is missing, strange imports from @angular/core"
We had version 1.3.5 before.
We imported it in the app.module file with `DeviceDetectorModule.forRoot(),` but this is not a method anymore. Did you remove this ? Because it works again if we remove the forRoot() function.

[code]

But the update was a patch update. You should not introduce breaking changes in patch updates :) It would be great to revert it and make a version like 1.4.0.

Also with

[2019-07-01 15:27] andrebgomes opened #92 "export 'x' was not found in @angular/core"
Hi,

I started getting this warnings today after I updated the package to version 1.3.7

`WARNING in ./node_modules/ngx-device-detector/fesm5/ngx-device-detector.js 693:63-81
"export 'ɵɵdefineInjectable' was not found in '@angular/core'`

`WARNING in ./node_modules/ngx-device-detector/fesm5/ngx-device-detector.js 693:169-177
"export 'ɵɵinject' was not found in '@angular/core'`

and then this error

[2019-07-01 15:47] AhsanAyaz commented on #92
The issue seems to be because of the issue:
https://github.com/angular/angular/issues/30413
I'm thinking of a workaround. Will update once done.

[2019-07-01 15:49] breuerfelix commented on #92
same here #91

[2019-07-01 17:34] TravisDuncombe commented on #91
The most recent ChangeLog entry shows:

I unfortunately found the same error when trying to build today, and agree, that a patch version should not contain breaking changes. It can cause quite a bit of grief.

[2019-07-01 18:33] AhsanAyaz commented on #91
@breuerfelix , @TravisDuncombe you guys are right. the last patch was stupid. I'll try to fix it asap.
Thanks for providing the feedback.

[2019-07-02 23:47] AhsanAyaz commented on #92
@andrebgomes, @breuerfelix  please upgrade to `1.3.9` and close the issue if you find everything working fine.

[2019-07-02 23:47] AhsanAyaz commented on #91
@TravisDuncombe, @breuerfelix  please upgrade to `1.3.9` and close the issue if you find everything working fine.

[2019-07-03 08:29] skobak opened #94 "error TS2339: Property 'forRoot' does not exist on type 'typeof DeviceDetectorModule'."
Hey!
Thanks for the recent fix, lib does works but shows an error during the compilation:

`ERROR in src/app/app.module.ts(85,26): error TS2339: Property 'forRoot' does not exist on type 'typeof DeviceDetectorModule'.`

Import in app.module:
`   DeviceDetectorModule.forRoot(),`

[2019-07-03 13:25] breuerfelix commented on #91
works fine for us ! thanks @AhsanAyaz

[2019-07-03 13:25] #91 closed

[2019-07-03 13:46] AhsanAyaz commented on #94
@skobak what version of Angular are you using? What version of the library are you at?

[2019-07-03 13:48] skobak commented on #94
`Angular CLI: 7.3.6
Node: 11.3.0
OS: win32 x64
Angular: 7.2.10
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

Package                            Version
------------------------------------------------------------
@angular-devkit/architect          0.13.6
@angular-devkit/build-angular      0.12.4
@angular-dev

[2019-07-03 13:57] AhsanAyaz commented on #94
And it is throwing an error during `ng build` or `ng serve`?
Also, can you check the version of `@angular/core` in your `package.json`?
Even better if you create a reproduction on [stackblitz](https://stackblitz.com)

[2019-07-03 14:07] skobak commented on #94
I did check, and the warning **disappeared** after the vsCode restart . Probably because the vsCode hash something from the previous build of lib. The issue is closed, thank you for help and contibution!

`ng build` - **ok**
`ng server` - ** ok **
`package.json`
"@angular/cdk": "^7.3.7",
    "@angular/common": "^7.2.10",
    "@angular/compiler": "^7.2.10",
    **"@angular/core": "^7.2.10",**

[2019-07-03 14:08] #94 closed

[2019-07-03 14:08] skobak commented on #94
it was local VsCode bug

[2019-07-09 18:30] AmaelN opened #95 "Angular 8 SSR view source display only js file (fuck up by ngx-device-detection)"
I'm having an issue with angular 8 SSR and you composant.
All the generated HTML by angular 8 is lost when I plug in ngx-device-detection.

Do you have a solution for this ?

[2019-07-09 18:31] AmaelN commented on #95
If you have a sample of your plugin working with Angular 8 SSR that will help me

[2019-07-10 02:06] jkon commented on #81
Hi, I have had this issue affect me to. Updating to version 1.3.9 did not fix my issue though. I had to revert back to 1.3.5 to get things working again. I'm not sure what the problem is exactly because I haven't had time yet to figure out a good way to debug it. The issue is only happening when production flag is set to true. things work fine in development mode. I am using AOT compilation for al

[2019-07-10 04:35] glomotion commented on #81
+1. Definitely still an issue. We're having the same problem with 1.3.9
Downgrading to 1.3.5 fixes the issue though.

[2019-07-10 10:53] #95 closed

[2019-07-20 15:13] davidhunt135 opened #97 "iPad OS wrong device type"
I am testing this on the latest iPad OS beta and it appears to detect safari as Safari on the Mac. The result from getDeviceInfo() is as follows;

[code]

It appears to me that this could be indistinguishable from Safari on the Mac so not sure what the solution might be.

I am aware this is still a beta for iPad OS but thought id let you know.

[2019-07-25 12:21] rcrodrigues commented on #90
Experiencing the same issue.

[2019-07-25 15:46] lkpatir opened #98 "ERROR Error: StaticInjectorError(AppModule)[DeviceDetectorService -> InjectionToken Platform ID]:"
Hi
I have followed the instruction mentioned here in my Angular 8 application but I am getting below error, can somebody help me. I am stucked. I have also attached the app module and app component file for your ref:
ERROR Error: StaticInjectorError(AppModule)[DeviceDetectorService -> InjectionToken Platform ID]:
  StaticInjectorError(Platform: core)[DeviceDetectorService -> InjectionToken Platfor

[2019-07-25 22:32] DuncanFaulkner commented on #98
Hi

From the error message I would say that something isn't registered properly, trying updating to 1.3.9 of device detector, if you haven't already, if still the same I would remove the node_modules folder and reinstall (npm i).

build the project and see if that fixes it.

[2019-07-26 05:33] lkpatir commented on #98
Hi Duncan,
Thanks for your prompt reply. I have followed your suggestion but still getting the same error. I have attached my package json file in word format for your ref.
[file3.docx](https://github.com/KoderLabs/ngx-device-detector/files/3434303/file3.docx)

[2019-07-26 07:18] DuncanFaulkner commented on #98
Hi,
I can't see anything in there that would throw that kind of error, what sort of app are you creating (just curious) as I've not seen laravel-elixir in an angular app before. Also should npm be installed as a dependency? this is installed as part of nodejs (unless there is some other package with the same name), not that I think this is the cause of your issue, I just don't think it should be p

[2019-07-26 07:49] lkpatir commented on #98
Hi Duncan,

Thank you very much for your quick reply. I just tested the library in an independent pure & fresh Angular 8 setup and indeed it works. Let me follow your suggestions, retry and report back here. BTW, I am embedding Angular 8 application in a laravel framework.

[2019-07-26 11:04] lkpatir commented on #98
Hi Duncan,
With the same package.json file (without removing npm), I deleted node_modules and ran npm install. After repeating the same actions for 6 to 7 times, the ngx device detector works now. So, I can only assume now is that sometimes npm install doesnot install required things properly. I hope this helps someone.
I really appreciate your timely guide, I was kind of lost, clueless, direction

[2019-07-26 13:27] DuncanFaulkner commented on #98
not a problem, glad its working. still don't think you need npm in your package.json file as thats part of nodejs and installed globally.

[2019-07-26 19:49] AhsanAyaz commented on #98
@DuncanFaulkner, thanks for the prompt response and helping out @lkpatir. You're awesome! 👏 🎉

Closing the issue @lkpatir. Hope everything works fine.

[2019-07-26 19:49] #98 closed

[2019-07-31 19:24] mcraele commented on #90
I am experiencing the same on iPads
![image](https://user-images.githubusercontent.com/17502834/62241490-429ce680-b3a7-11e9-9df7-4908ddd1ebf6.png)

[2019-08-06 11:19] AaronBastian opened #99 "Jasmine Tests -- Error: StaticInjectorError[DeviceDetectorService]: NullInjectorError: No provider for DeviceDetectorService!"
The library works great when running the project. Very nice work!

However, when trying to mock this service for a unit test, it does not appear to be able to find the service that is being injected: `Error: StaticInjectorError[DeviceDetectorService]:  NullInjectorError: No provider for DeviceDetectorService!`

My current approach is to create an injectable service that wraps this functionality. T

[2019-08-22 07:22] Adam-Kernig opened #100 "Device - Unknown"
Hi there,

Im developing using safari and the forcing the device to be iPhone. I have also tested this using apples simulator which bootstraps the OS to a phone.

As of v1.3.6 this worked absolutely fine as seen here:
![Screenshot 2019-08-22 at 08 17 00](https://user-images.githubusercontent.com/25741505/63494276-435ffe80-c4b5-11e9-8a8f-f36b40a8c907.png)

Since then the device constants have been

[2019-08-22 08:21] favrio commented on #100
Same issue here, version is `1.3.9`, Angular version is `8.1.2`.

[2019-08-27 07:55] Adam-Kernig commented on #100
At the moment I have reverted back to 1.3.6, as there also seems to be no unit testing which may have caught this

[2019-08-29 00:29] AhsanAyaz commented on #100
@Adam-Kernig , @favrio the issue has been fixed by release `1.3.0`. Please use `1.3.10` from now on.
Also, since this is an **open-source** project, feel free to add a PR with some unit tests. I'll be happy to add them 🙂

[2019-08-29 00:29] #100 closed

[2019-08-29 00:29] AhsanAyaz commented on #97
@davidhunt135 The issue has been fixed by release `1.3.10`. Feel free to update and use it.

[2019-08-29 00:29] #97 closed

[2019-08-29 00:31] AhsanAyaz commented on #90
@rezo-evodion, @mcraele, @rcrodrigues  The issue has been fixed by release `1.3.10`. Feel free to update and use it.

[2019-08-29 00:31] #90 closed

[2019-08-29 00:31] AhsanAyaz commented on #85
@oveshparasara. Please test with `1.3.10`. Feel free to re-open the issue if it still exists.

[2019-08-29 00:31] #85 closed

[2019-08-29 07:12] CookieRamen opened #109 "The mobile device is determined to be a tablet."
![image](https://user-images.githubusercontent.com/37681609/63918440-adf5d900-ca77-11e9-8274-7036d933d623.png)
![image](https://user-images.githubusercontent.com/37681609/63918511-c9f97a80-ca77-11e9-83e7-da4339298e77.png)
![image](https://user-images.githubusercontent.com/37681609/63918540-d5e53c80-ca77-11e9-9501-904a2bd12e93.png)

[2019-08-29 07:20] CookieRamen commented on #109
https://koderlabs.github.io/ngx-device-detector/demo/

[2019-08-29 12:47] AhsanAyaz commented on #109
@CookieRamen , thanks for reporting.
The issue has been fixed in `1.3.11`.

[2019-08-29 12:47] #109 closed

[2019-08-29 13:42] ploutos27 opened #110 "Please check isMobile(): always false"
Hello,

Please check isMobile() method it's returns always false

Thanks! :)

[2019-08-29 19:09] AhsanAyaz commented on #110
@ploutos27 , the issue was fixed in the [release](https://github.com/KoderLabs/ngx-device-detector/releases/tag/1.3.11) `1.3.11`.
Please check the [demo site](https://koderlabs.github.io/ngx-device-detector/demo/). Inspect as a mobile device and you'll see it working most likely :)

![image](https://user-images.githubusercontent.com/9844254/63968973-47de7580-caba-11e9-91c9-20baa19ffb27.png)

Feel

[2019-08-29 19:09] #110 closed

[2019-08-29 22:05] AhsanAyaz opened #111 "Writing a couple of unit tests for the library."
If we can write a couple of unit tests for the library, that'll be awesome.

[2019-08-30 08:16] Syed-Saad-Qamar commented on #111
I'm working on that issue

[2019-09-02 17:00] AhsanAyaz commented on #111
Closed by https://github.com/KoderLabs/ngx-device-detector/pull/112

[2019-09-02 17:00] #111 closed

[2019-09-24 10:26] Adam-Kernig opened #113 "iPad OS13"
Hi Guys, new ipod os13 is in release with useragent:

Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0 Safari/605.1.15

this isn't picked up on the demo page when the user agent is set to it

also the problem with this is its also the same as desktops - so finding a way to detect this will be difficult

[2019-10-01 21:16] SaadQamar01 commented on #113
@Adam-Kernig we can differentiate to check device is touch screen or not, if yes it is iPad or if not it is Mac because there's no official touch screen for Mac.

@AhsanAyaz please review the PR https://github.com/KoderLabs/ngx-device-detector/pull/114.

[2019-10-04 13:47] Saucistophe commented on #99
I've used the same approach with success:
- Import the DeviceDetectorModule in the service's module
- Import the DeviceDetectorModule.forRoot in the component test case
- Provide *your* service (BrowserDetectionService) in the component test case
- *Provide* the service in the service's module: `providers: [DeviceDetectorService]`

For instance, with your service name:
[code]

[2019-10-04 14:00] AhsanAyaz commented on #99
Thanks, @Saucistophe for the insight. I've used the package in many apps and didn't find the issue as well.
@AaronBastian, please re-open if you still face it.

[2019-10-04 14:00] #99 closed

[2019-10-17 18:36] ranouf commented on #113
Did you update the package?
If yes, I continue to have the same issue.

[2019-10-18 14:57] AhsanAyaz commented on #113
@ranouf, @SaadQamar01 , @Adam-Kernig I'm going to test @SaadQamar01 's PR today and will merge.

[2019-10-22 10:37] AhsanAyaz commented on #113
Closed by https://github.com/KoderLabs/ngx-device-detector/pull/114

[2019-10-22 10:37] #113 closed

[2019-10-23 00:04] xonuzofa opened #115 "New commit broke mac devices"
iPad: /iPad|iPad.*Mobile|Macintosh.*Mac OS X/,

This test line hits for my computer:

Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36

Program now thinks computer is iPad.

[2019-10-25 17:05] adam2645 commented on #115
I'm having the same issues

[2019-10-27 22:14] saturnino commented on #115
same issue

**chrome**
browser: "Chrome"
browser_version: "77.0.3865.120"
device: "**Unknown**"
os: "Mac"
os_version: "mac-os-x-13"
userAgent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36"

**Firefox**
browser: "Firefox"​
browser_version: "69.0"​
device: "**iPad**"​
os: "Mac"​
os_version: "mac-os-x-13"​
userAgent: "Mozil

[2019-10-28 09:56] ksthiele commented on #115
I also had to roll back to 1.3.11

[2019-10-28 12:27] Olousouzian commented on #115
Same issue too. The rollback to 1.3.11 fix this issue.

[2019-10-29 01:58] AhsanAyaz commented on #115
Fixed the issue with
https://github.com/KoderLabs/ngx-device-detector/commit/f85826b557d934a55792f7ba8c3582e7dbbb859a

Please upgrade to `1.3.13`.
Feel free to re-open if you find anything troubling

[2019-10-29 01:58] #115 closed

[2019-10-29 12:29] BizzottoClaudio opened #116 "Android tablet detected as Mobile"
I only have this tablet but as you can see is detected as mobile. The 'desktop site' is not checked as well, otherwise it is detected as desktop (not a problem for me).

Device info:
Samsung Galaxy TabA SM-T590
Chrome 78.0.3904.62
Android 9

![photo_2019-10-29_13-21-48](https://user-images.githubusercontent.com/20600987/67766628-287aaf00-fa4f-11e9-9990-11574a791cae.jpg)

Meybe 'SM-T590' is just mi

[2019-10-29 18:59] #116 closed

[2019-11-01 15:34] DaveGold opened #118 "macOS Safari detected as tablet"
Currently macOS Safari is detected as tablet.

Config 1. macOS = 10.15  Safari = 13.0.2 (15608.2.30.1.1)

useragent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.2 Safari/605.1.15

isDesktop => false
isTablet => true
isMobile => false

Tested on
1.3.13 and 1.3.14

Something to do with fix for IpadOS?

[2019-11-01 19:36] egalot opened #119 "Broswer detection failing in production build."
Browser detection is failing in a production build:
 command: ng build --prod
typical result:
`{userAgent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) Appl…KHTML, like Gecko) Version/13.0.2 Safari/605.1.15", os: "", browser: "", device: "", os_version: "", …}`

On development (ng serve) it works as expected:
`{userAgent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) Appl…KHTML, like Gecko) Ver

[2019-11-03 06:11] AhsanAyaz commented on #119
@egalot what version of ngx-device-detector are you working with?

[2019-11-04 07:26] DaYuClo commented on #118
Android Tablet 9.0 with Chrome 78 is detected as mobile.

[2019-11-05 20:04] DaYuClo commented on #118
@AhsanAyaz Will there be a fix for this soon?

[2019-11-06 14:51] AhsanAyaz commented on #118
@DaYuClo , hopefully today :)
New job, new place. lol

[2019-11-08 08:35] DaveGold commented on #118
The problem seem to be in  "Version/13.0.2".

[2019-11-08 15:16] jderrough opened #120 "Wrong browser version for Firefox on iOS"
Browser version returned is 0, should be 20.1 (16561).

iPhone 8/iOS 13.1.3
Firefox: 20.1 (16561)
Angular: 7.2.15

Edit:
UserAgent: Mozilla/5.0 (iPhone; CPU iPhone OS 13_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) FxiOS/20.1 Mobile/15E148 Safari/605.1.15

[2019-11-10 04:00] AhsanAyaz commented on #118
@DaveGold , can you please test with `1.3.16`?

[2019-11-10 04:01] AhsanAyaz commented on #120
Hi,
Can you please test with `1.13.6`?

[2019-11-10 10:26] jderrough commented on #120
Hi @AhsanAyaz,
`1.13.16` seems to fix it. Thanks a bunch.

[2019-11-10 10:26] #120 closed

[2019-11-10 21:05] AhsanAyaz commented on #119
@egalot closing this because of inactivity. Please let me know the details if the issue is persisted. Also, try with the latest release.

[2019-11-10 21:05] #119 closed

[2019-11-11 08:08] DaveGold commented on #118
According to demo site does not work on Safari:

Property    Value
userAgent    Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.2 Safari/605.1.15
os    Mac
browser    Safari
device    iPad
os_version    mac-os-x-15
browser_version    13.0.2
isDesktop()    false
isMobile()    false
isTablet()    true

[2019-11-11 17:45] egalot commented on #119
Hi please reopen. I was at a conference and did not see these messages. The issue persists I am using version: ^1.3.14

[2019-11-12 00:23] AhsanAyaz commented on #119
@egalot please try `1.3.16` and let me know if the issue is still there.

[2019-11-14 13:56] intellix opened #121 "Universal/Server/Node regression"
It seems there's a regression in Universal/Server/Node support caused by isTablet() referencing navigator:

https://github.com/KoderLabs/ngx-device-detector/blob/0f453d29a93ec2d866cd7801db121e751134f0fd/src/device-detector.service.ts#L135-L136

[2019-11-15 23:59] egalot commented on #119
Hi, tested 1.3.16 the problem remains.
{userAgent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_0) Ap…ML, like Gecko) Chrome/78.0.3904.97 Safari/537.36", os: "", browser: "", device: "", os_version: "", …}

The problem occurs on production builds not on regular development builds.

Thanks

Emil

[2019-11-18 16:33] vucko commented on #118
Working correctly with 1.3.16!
Testet on: masOs Catalina + Safari Version 13.0.2 and Ipad 13.1.2 + safari

Please update demo site, thanks!

[2019-11-18 20:33] AhsanAyaz commented on #118
@vucko , I've updated the demo site.

[2019-11-18 23:00] AhsanAyaz commented on #121
@intellix the issue has been fixed in `1.3.17` and released. Please review and close the task if the issue is solved.

[2019-11-18 23:03] AhsanAyaz commented on #118
Please feel free to re-open the issue if it persists. Closing this as I've updated the demo site.

[2019-11-18 23:03] #118 closed

[2019-11-19 01:15] vroussel35 commented on #121
Hi @AhsanAyaz - after installation of 1.3.17, I have still an error.

**Here is the stacktrace:**

ERROR ReferenceError: navigator is not defined
at DeviceDetectorService.isTablet (/srv/functions/node_modules/ngx-device-detector/bundles/ngx-device-detector.umd.js:592:13)
at DeviceDetectorService.isMobile (/srv/functions/node_modules/ngx-device-detector/bundles/ngx-device-detector.umd.js:575:22)

A

[2019-11-19 02:27] vucko opened #122 "Version 1.3.16 problem with angular universal"
ERROR ReferenceError: navigator is not defined
    at exports.DeviceDetectorService.isTablet
    at exports.DeviceDetectorService.isMobile

This error break server side rendering!

[2019-11-19 08:22] DaveGold commented on #118
Thanks guys! We thought we could test it quickly with visiting the demo site..

[2019-11-19 09:53] intellix commented on #122
There's literally only 1 other open issue with the same name as this. You didn't even need to use search D: https://github.com/KoderLabs/ngx-device-detector/issues/121

[2019-11-19 09:53] vucko commented on #121
Error still exist:
ERROR ReferenceError: navigator is not defined

[2019-11-19 09:57] #122 closed

[2019-11-19 10:31] venoby opened #123 "Windows 10 detection"
I have an issue with Windows 10, even on your demo system doesn't detect correctly:

![image](https://user-images.githubusercontent.com/8698885/69138912-35c41000-0ac8-11ea-9617-e91241a816a3.png)

in my app:

![image](https://user-images.githubusercontent.com/8698885/69139117-8b98b800-0ac8-11ea-8232-6bee7fb78f30.png)

[2019-11-20 00:07] AhsanAyaz commented on #121
@vucko , the issue has been fixed in `1.3.19`
I've also added SSR to the demo to be sure. Tested as well. Please close the issue if it all seems good for you as well.

[2019-11-20 08:22] vroussel35 commented on #121
Thanks @AhsanAyaz - issue fixed for us with the release 1.3.19 !

[2019-11-20 08:53] AhsanAyaz commented on #121
Awesome. Closing the issue!

[2019-11-20 08:53] #121 closed

[2019-11-25 18:55] sajid506a commented on #123
![image](https://user-images.githubusercontent.com/2471703/69569183-1efb4d00-0fe3-11ea-94a9-bbb6a29b4c22.png)
same with my machine and demo

[2019-11-25 18:57] sajid506a commented on #123
![image](https://user-images.githubusercontent.com/2471703/69569324-6bdf2380-0fe3-11ea-81f4-04c7126ada00.png)
Same issue with my machine and demo also shows device:"Unknown" os_version:"Unknown"
tested in windows 10 version OS

[2019-11-28 12:57] jderrough opened #124 "Bots and crawlers"
Hi,

Is there a way to detect bots and crawlers using ngx-device-detector?

[2019-12-02 03:53] vreans08 opened #125 "Improvement Request: Could you please check the possibility of adding device orientation."
You can check the below URL for reference. I can contribute to this change as well.

https://developer.mozilla.org/en-US/docs/Web/API/Detecting_device_orientation

[2019-12-02 19:04] Nabeelhassan commented on #123
merge request for this fix #126

[2019-12-02 23:53] AhsanAyaz commented on #123
Closed by https://github.com/KoderLabs/ngx-device-detector/pull/126
@sajid506a , @venoby please test.

[2019-12-02 23:53] #123 closed

[2019-12-13 13:53] vroussel35 opened #128 "Is Server-Side Device Detection possible?"
Hi,

Is it possible to do server-side device detection based on HTTP headers with this package?

After a deep look into the documentation and some local tests, I'm afraid the answer to this question is "No."

Can you confirm?

If this is not possible today, can you (?) develop this functionality ?

[2019-12-13 17:30] AhsanAyaz commented on #128
I don't think that this is possible at the moment. But I believe we already have functions that we can export and you should be able to pass the `userAgent` into them.
Then it depends on your server logic. You can use the package to pass the header to the package's functions and it'll give you back the results. How does that sound?

[2019-12-13 17:31] AhsanAyaz commented on #125
@vreans08 feel free to contribute 🙂 And yes, sounds like a good option.
Although, this won't work on the server-side of course.

[2019-12-13 17:33] AhsanAyaz commented on #124
Hi @jderrough . I don't quite understand this 🙂
But I'm open to ideas to what you want to achieve and if you have any suggestions

[2019-12-13 21:38] vroussel35 commented on #128
Thanks for your answer Ashan !

Great news - we found a solution after having a closer look at your answer and the code.

The utility methods isMobile(), isTablet(), isDesktop() accessible via the DeviceDetectorService instance can take a parameter which is a user agent string.

Ex : this.deviceService.isMobile(userAgentString);

So for our needs, we retrieve the user-agent string from the request

[2019-12-13 21:38] #128 closed

[2019-12-16 15:34] jderrough commented on #124
Hi @AhsanAyaz,

I meant being able to know from ngx-device-detector if the user agent is that of a bot or crawler (for example: https://stackoverflow.com/questions/20084513/detect-search-crawlers-via-javascript).

[2019-12-19 07:37] adnanrafique opened #129 "isMobile() always returns true when it is open on Desktop in responsive mode"
I opened the demo on desktop and it returned
` isDesktop() => true`
` isMobile() => false`
` isTablet() => false`

I opened it into responsive mode and it returns
` isDesktop() => false`
` isMobile() => true`
` isTablet() => false`

This is happening on any resolution possible

![Screenshot 2019-12-19 at 12 36 53 PM](https://user-images.githubusercontent.com/20041254/71153972-4a78fc80-225c-11ea-8d

[2019-12-20 21:05] AhsanAyaz commented on #129
Hi @adnanrafique .
When you open the app in such a way, notice what is logged on the console for the `userAgent`:
![image](https://user-images.githubusercontent.com/9844254/71292786-6243a400-2374-11ea-91e6-f88d087d663e.png)
As you can notice in the image above, and also in your screenshot, the userAgent is that of a mobile and that is supplied by the Chrome browser itself when you're inspecting in

[2019-12-20 21:05] #129 closed

[2019-12-24 10:31] adnanrafique commented on #129
Hello @AhsanAyaz.
Thank you for your quick response.

Actually I am using different parts of codes conditionally for screens.

For example,
I have a different code for mobiles and different one on desktop. When I went to make my desktop design responsive I faced this issue because in responsive mode I am not able to work see the part of code that I have implemented for desktop. I hope it clears my

[2020-01-06 19:17] pierretanguay opened #131 "Galaxy Tab A is not detected (SM-T290)"
It looks like the Galaxy Tab A is not included in the TABLETS_RE constant. The User Agent for this device is SM-T290.

Let me know if you need any other kind of information!

[2020-01-24 05:16] JaxonWright opened #132 "Add Tesla Detection"
## UserAgent
Here is an example of the user agent of a Tesla running the latest firmware that has Chromium installed:
`Mozilla/5.0 (X11; GNU/Linux) AppleWebKit/537.36 (KHTML, like Gecko) Chromium/75.0.3770.100 Chrome/75.0.3770.100 Safari/537.36 Tesla/2019.32.11.1-d39e85a`

The value after `Tesla` is the firmware version of the car. There is not anything in here that describes which model the car i

[2020-02-04 13:45] mohsen77sk opened #133 "not detecting device and android version"
_my device detail  :_

**userAgent** :
Mozilla/5.0 (Linux; U; Android 9; en-us; Mi 9 SE Build/PKQ1.181121.001) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/71.0.3578.141 Mobile Safari/537.36 XiaoMi/MiuiBrowser/11.4.3-g

**os**: Android
**browser**: Chrome
**device**: Android
**os_version**: unknown
**browser_version**: 71.0.3578.141
**isDesktop()**: false
**isMobile()**: true
**isTabl

[2020-02-18 10:51] tgangso opened #134 "Failing to build on Angular 9 with ivy"
When building it fails with the following:

ERROR in Tried to overwrite D:/xxx/node_modules/ngx-device-detector/device-detector.service.d.ts.__ivy_ngcc_bak with an ngcc back up file, which is disallowed.

See https://github.com/angular/angular/issues/29703 for possibly more info on what needs to be done

Possibly related to this in package.json: "postinstall": "ngcc --properties es2015 browser mod

[2020-02-24 15:20] sandraandonov88 commented on #134
Is anyone else experiencing this? Does the package support Angular 9 at all? I just introduced the package on Angular 6 project, but planning to migrate to Angular 9 soon and want to make sure it will be supported.

Thanks

[2020-02-25 08:28] tgangso commented on #134
I got it to work by removing the postinstall from the package.json, so i think it will be fine. But maybe something that should be looked into.

[2020-03-08 22:59] #131 closed

[2020-03-08 23:15] #132 closed

[2020-03-09 07:53] AhsanAyaz commented on #134
Hey @tgangso
I don't see that `postinstall` in the package.json
https://github.com/KoderLabs/ngx-device-detector/blob/master/package.json
You sure you're using the latest version. If not, please try 1.4.0 and let me know

[2020-03-09 08:03] tgangso commented on #134
@AhsanAyaz the postinstall i mentioned is the one angular mentions in their migration documentation, that can improve build performance (Angular compatibility compiler ngcc). Not in this repository.

[2020-03-09 08:04] aliasgharkarani commented on #134
Hey @tgangso
I tried installing device-detector with Angular 9 and it was Successful with these changes..

I just added:
import { HttpClientModule } from '@angular/common/http';                      //app.module.ts
import { HttpClient } from '@angular/common/http';                                 //app.component.ts

// in the constructor use HttpClient instead of Http while working with angular 9

[2020-03-17 02:15] mattAux opened #140 "Chrome / Safari iPad says OS is Mac"
Operating system detection on both safari & chrome on iPad returns Mac.
Is there some kind of workaround for this?

iPad 6th Gen
Software Version 13.3.1
userAgent: _Mozilla/5.0 (Macintosh; Intel Mac OSX 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.5 Safari/605.1.15_

[2020-03-17 15:19] BruneXX opened #141 "Add angular 9.x universal support"
After update to angular 9.x universal I've this issue
[code]
at the first looks it seems an angular 9.x issue but this can be avoided adding a conditional in the package asking for **isPlatformBrowser** when window is used.

Can you add that feature to avoid this kind of issues? will be appreciated.

Thanks

[2020-03-17 15:49] BruneXX commented on #141
Can you add some extra validation for universal?
`typeof window !== 'undefined`

[2020-03-18 23:04] AhsanAyaz commented on #141
Fixed by https://github.com/KoderLabs/ngx-device-detector/pull/143

[2020-03-18 23:04] #141 closed

[2020-03-18 23:13] AhsanAyaz commented on #141
@BruneXX a new release has been published to npm. Here's the tag.
https://github.com/KoderLabs/ngx-device-detector/releases/tag/1.4.1

[2020-03-18 23:13] AhsanAyaz commented on #134
I'll try knocking this down this weekend. But feel free to contribute if you can 🙂

[2020-03-19 13:35] BruneXX commented on #141
Hi @AhsanAyaz Thank you so much! I've installed new version and works very well! :+1:

[2020-03-20 20:08] Itstechboy commented on #134
Updating to the latest version solved the issue for me.

[2020-03-25 11:22] AhsanAyaz commented on #134
@tgangso can you check if the latest version resolves this for you?
If not, please re-open the issue.

[2020-03-25 11:22] #134 closed

[2020-04-06 06:16] nblum opened #144 "DeviceDetectorModule.forRoot returns a ModuleWithProviders type without a generic type argument"
I tried to import in the app module with angular 9 and got this error:

ERROR in node_modules/ngx-device-detector/index.d.ts:3:23 - error NG6005: DeviceDetectorModule.forRoot returns a ModuleWithProviders type without a generic type argument. Please add a generic type argument to the ModuleWithProviders type. If this occurrence is in library code you don't control, please contact the library autho

[2020-04-06 08:21] AhsanAyaz commented on #144
Thanks for reporting @nblum .
I'm gonna look into it as soon as possible. Feel free to contribute if you already have the solution in mind

[2020-04-12 21:33] #144 closed

[2020-04-12 22:03] AhsanAyaz commented on #144
Released a new version:
https://github.com/KoderLabs/ngx-device-detector/releases/tag/1.4.2

[2020-04-13 23:37] jgil9 commented on #144
after this change, the following error is generated with angular 5:
ERROR in ../node_modules/ngx-device-detector/index.d.ts(3,23): error TS2315: Type 'ModuleWithProviders' is not generic.

[2020-04-13 23:58] AhsanAyaz commented on #144
Hi @jgil9 , I'd highly recommend using 1.4.1 or below for Angular v 5

[2020-04-14 15:25] bhdr1 commented on #144
we changed "ngx-device-detector": "^1.3.5" to "ngx-device-detector": "1.3.5"
it took hours :/

[2020-04-26 16:20] coderavel opened #147 "Not Working in Angular 9"
![image](https://user-images.githubusercontent.com/31347201/80313336-4ae65d00-8825-11ea-934c-38eb4325651a.png)

[2020-04-28 10:02] jayna456 commented on #144
Hello @AhsanAyaz , I had 1.3.9 version of ngx device library . Still I am getting ERROR in node_modules/ngx-device-detector/index.d.ts(3,23): error TS2315: Type 'ModuleWithProviders' is not generic.

[2020-04-29 21:44] AhsanAyaz commented on #147
Hey @coderavel. The library is not compatible with IVY at the moment. But it's in the plans. I'll keep you posted.

[2020-04-29 22:59] BruneXX commented on #147
Hi @coderavel what is your compiler configuration to get that error?

[2020-05-14 09:24] Corsico commented on #133
Same issue for ipad

**user agent:**
Mozilla/5.0 (iPad; CPU OS 11_0 like Mac OS X) AppleWebKit/604.1.25 (KHTML, like Gecko) Version/11.0 Mobile/15A5304j Safari/604.1

should be ipad running safari 11 on mac 11

os | Mac
-- | --
browser | Safari
device | iPad
os_version | unknown
browser_version | 11.0
isDesktop() | false
isMobile() | false
isTablet() | true

[2020-05-14 09:32] Corsico commented on #133
also true about macOS desktop running chrome, looks like not OS version detection is running

[2020-05-26 05:50] ShadananaK commented on #81
I am facing the same issue.I am usning angular 8 env. and in production mode I am getting everything empty except userAgent feild. Is this issue fixed in latest version ? any information on how to fix this issue ?

[2020-05-26 10:14] AhsanAyaz commented on #81
@ShadananaK . It should be. The latest demo is working perfectly fine as well 🙂
Could you install the latest and try it out?

[2020-05-26 16:09] ShadananaK commented on #81
Thanks

Actually I am using latest version only. i.e 1.4.2. But the problem is still exist.

However as suggested downgrading to 1.3.5 did work. what might be the reason ? and how to fix it in latest version ?

[2020-05-26 17:31] AhsanAyaz commented on #81
@ShadananaK would it be possible for you to create an example on GitHub I can look at?
I've created an [example here with 1.4.3](https://stackblitz.com/edit/angular-8-getting-started-vwja3m?file=src%2Fapp%2Fproduct-list%2Fproduct-list.component.ts) it seems to be setting the values correctly.

[2020-06-09 08:01] a-mesin commented on #147
Any news on this? This is keeping us from updating to Angular 9.

[2020-06-12 13:56] saikrupa opened #153 "WARNING in ./node_modules/ngx-device-detector/fesm5/ngx-device-detector.js 572:148-154 "export 'inject' was not found in '@angular/core'"
I am using
"ngx-device-detector": "^1.4.4",
"@angular/animations": "^5.0.0",
    "@angular/common": "^5.0.0",
    "@angular/compiler": "^5.0.0",
    "@angular/core": "^5.0.0",

[2020-06-15 15:35] theCrius commented on #147
@BruneXX with a default angular 9 angular.json, I get that error as well when running `ng serve`

![image](https://user-images.githubusercontent.com/2202141/84677141-39b4f500-af26-11ea-91c3-869c497856b5.png)

[2020-06-15 18:17] theCrius commented on #147
I'm trying to update it to angular9 but it seems that this library has not been built using the classic angular-cli which makes things quite more complicated in terms of upgrading. Am i mistaken? @AhsanAyaz are you still working on this? Any pointer you can give?

[2020-06-19 14:10] JoJk0 opened #154 "Detects Chrome on macOS as Safari on iOS"
Returned results:

[code]

However, I use **Google Chrome** on **MacBook Pro** with **macOS**

[2020-06-24 10:18] biswas123 opened #155 "isTablet() returns false but isMobile returns true when using on Nexus 7 or any other tablets on emulator."
isTablet() returns false but isMobile returns true when using on Nexus 7 or any other tablets(android) on emulator.

[2020-06-24 10:30] biswas123 commented on #155
![image](https://user-images.githubusercontent.com/9110000/85539785-f51c0e80-b635-11ea-82a6-547c324bce6e.png)

[2020-06-24 20:29] AhsanAyaz commented on #155
Have you checked on actual tablets? I've seen issues with Tablets. And the regex is supposed to catch nexus tablet though

[2020-06-24 20:34] biswas123 commented on #155
umm no just with emulators from android studio

On Thu, Jun 25, 2020, 02:15 Muhammad Ahsan Ayaz <notifications@github.com>
wrote:

[2020-06-26 05:09] biswas123 commented on #155
@AhsanAyaz  Willl it 100% give correct result on real tablet devices? Is it only false on emulators?

[2020-06-29 06:05] biswas123 commented on #155
@AhsanAyaz  Any news sir?

[2020-06-29 12:36] AhsanAyaz commented on #155
Hey @biswas123
I don't think there'll be any issues on the real device. Should work fine. Please see this image:
![Tablet](https://user-images.githubusercontent.com/9844254/86006092-c5924b00-ba15-11ea-8914-7c8faaa88181.png)

As long as the device provides the proper UserAgent, the library will detect it 🙂
You can try on a real device and re-open the issue if you see it doesn't work.

[2020-06-29 12:36] #155 closed

[2020-06-29 12:39] AhsanAyaz commented on #154
@JoJk0 the user agent you provided seems you're using or simulating a phone 🙂
Are you sure you're not doing something like this?
![image](https://user-images.githubusercontent.com/9844254/86006444-40f3fc80-ba16-11ea-99bc-04e132695a92.png)

If that's what you're doing, the chrome device simulator is simulating an iPhone which by default has safari. So it is using the safari user agent and thus, ret

[2020-07-02 18:00] hhmultimediallc opened #156 "Can't seem to code against ngx-device-detector in development"
Angular Version: 8.2.x
This is an awesome tool that seems to be very accurate -- but maybe too accurate :)

The problem I'm having is, I need to be able to code against the deviceService flags (isMobile, isTablet, isDesktop) when using the Chrome devtools viewpoint emulations via desktop.  When I'm devtools to simulate a mobile or tablet viewport, the deviceService.isMobile is false and the device

[2020-07-23 16:28] clark-stevenson opened #158 "Angular 10 Peer Dependencies"
Thanks for the awesome lib!

Today I was updating to Angular 10 and on doing so, I recieved the following warnings:

`npm WARN ngx-device-detector@1.4.5 requires a peer of @angular/core@>=5.0.0 <9.0.0 || ^9.0.0-0 but none is installed. You must install peer dependencies yourself.`

Would it be possible to update them to include 10?  Thanks! 👍

[2020-07-24 16:40] AhsanAyaz commented on #158
@clark-stevenson . Just released [v1.4.6](https://github.com/KoderLabs/ngx-device-detector/releases/tag/v1.4.6) that solves this :) Please update.

[2020-07-24 16:40] #158 closed

[2020-07-25 11:27] clark-stevenson commented on #158
@AhsanAyaz  thanks for your quick response! Appreciated. 😃

[2020-08-21 15:37] BruneXX opened #160 "Generic type 'ModuleWithProviders<T>'"
node_modules/ngx-device-detector/index.d.ts:3:23 - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type argument(s).

[2020-08-26 23:24] AhsanAyaz commented on #160
@BruneXX , please try the latest [release](https://github.com/KoderLabs/ngx-device-detector/releases/tag/v1.5.0) and re-open the issue if it persists.

[2020-08-26 23:24] #160 closed

[2020-08-26 23:25] AhsanAyaz commented on #156
Not exactly, around simulation, it acts according to the user agent provided by the browser 🙂 . Not much we can do.

[2020-08-26 23:25] #156 closed

[2020-08-26 23:25] AhsanAyaz commented on #154
Closing this because of no activity for quite a while.

[2020-08-26 23:25] #154 closed

[2020-08-26 23:27] AhsanAyaz commented on #153
@saikrupa Unfortunately we don't support Angular 5 anymore. 🙂
Please try an earlier version such as ngx-device-detector@1.2.2
Closing the issue.

[2020-08-26 23:27] #153 closed

[2020-08-26 23:28] AhsanAyaz commented on #147
@coderavel , @theCrius. There shouldn't be any issue working with Angular 9.x or Angular 10.x now. The library has been updated to be built on top of Angular CLI. 🙂
@Please try the latest [release](https://github.com/KoderLabs/ngx-device-detector/releases/tag/v1.5.0) and re-open the issue if it persists.

[2020-08-26 23:28] #147 closed

[2020-08-27 05:39] elementalPRESS opened #162 "Error after update"
After update:

`"export 'DeviceDetectorModule' was not found in 'ngx-device-detector'

    ERROR in src/app/core/core.module.ts:15:10 - error TS2305: Module '"../../../node_modules/ngx-device-detector/ngx-device-detector"' has no exported member 'DeviceDetectorModule'.

    15 import { DeviceDetectorModule } from 'ngx-device-detector';`

[2020-08-27 07:08] madviral commented on #162
Same problem!

[2020-08-27 07:44] Ruslancic commented on #162
Confirm! Same problem, downgrade to 1.4.6!

[2020-08-27 08:20] ochikov commented on #162
Same problem. Downgrade to 1.4.6

[2020-08-27 08:20] ksrebrev commented on #162
Confirmed, same problem.

[2020-08-27 11:41] MoxxiManagarm commented on #162
I came here to report this issue, now I can only form too ;-)

[2020-08-27 14:18] quosol commented on #162
Confirmed, same problem.

[2020-08-27 15:19] veenagadag commented on #162
same problem :(

[2020-08-27 15:52] air-Design commented on #162
Same problem

[2020-08-27 16:11] edwincabrejos commented on #162
same problem

[2020-08-27 16:20] drewpayment commented on #162
I submitted this [Pull Request](https://github.com/KoderLabs/ngx-device-detector/pull/164) that fixed it for me.

[2020-08-27 16:59] marlonbaskin commented on #162
@AhsanAyaz - I would kindly suggest that you re-version this update to 2.0. Such a major, breaking change really shouldn't be part of a minor release. Most users wouldn't expect an update from 1.46 to 1.5 to include breaking changes, if you're going by the rules of semantic versioning (which is highly encouraged): https://semver.org/

[2020-08-27 17:18] drewpayment commented on #162
I would agree. It appears the `DeviceDetectorModule` was removed from the library, so I had to make changes in my implementation of the package for it to work after applying my changes to fix the library exports.

[2020-08-27 19:53] AhsanAyaz commented on #162
Hey folks, thanks for chiming in :)
I can revert the versioning and will publish a new one.

[2020-08-27 20:27] AhsanAyaz commented on #162
@elementalPRESS, @drewpayment, @marlonbaskin, @edwincabrejos, @air-Design, @veenagadag, @MoxxiManagarm , @quosol , @ksrebrev , @ochikov , @madviral , @Ruslancic.
The issue has been fixed with the latest release [1.5.2](https://github.com/KoderLabs/ngx-device-detector/releases/tag/v1.5.2). Please upgrade your dependencies. 🙂
Also, thanks for being awesome. 🎉

Will now release the 2.0.0 without the

[2020-08-27 20:27] #162 closed

[2020-08-27 20:54] JaxonWright commented on #162
@AhsanAyaz I think that you still need to make the change made in @drewpayment's pull request (#164 ) in the v2.0.0 release.

[2020-08-28 04:11] alzhanova opened #166 "Error after update/library does not work without module"
: Unexpected value 'DeviceDetectorService imported by the module 'AppModule'. Please add a @NgModule annotation.

[2020-08-28 08:00] AhsanAyaz commented on #166
@alzhanova what version of Angular are you on?

[2020-08-28 08:01] AhsanAyaz commented on #166
Also, you don't need to import the service anymore in your AppModule. Please see the readme.

[2020-08-28 09:32] alzhanova commented on #166
@AhsanAyaz does the library work in the eighth version of angular? I checked on this version

[2020-08-28 11:54] AhsanAyaz commented on #166
Yes. It does. Please.follow the instructions in the readme and see if it works. If you're importing the service in your AppModule, don't do that.
Let me know if that fixes it.

[2020-08-30 11:22] jitangupta opened #167 "Improvement Request: device_type should also exists in deviceDetectorService.getDeviceInfo()"
Instead of having to check each method one by one
[code]
it would be really helpful if the deviceDetectorService.getDeviceInfo() returns the device_type also.

Here is what I did using the existing options:
[code]

We can create an enum that contains the device_type

DeviceInfo Object:
[code]

[2020-08-30 14:42] AhsanAyaz commented on #167
I'm not sure where this would be useful 🙂
Because even after this change and introducing `deviceType`, when consuming you'll be doing something like
[code]

Which is exactly the same is:
[code]

So I think we're creating the same thing with additional complexity 🙂
What do you think @jitangupta ?

[2020-08-30 14:46] AhsanAyaz commented on #166
@alzhanova closing this because of inactivity. Please re-open if the issue still persists.

[2020-08-30 14:46] #166 closed

[2020-08-30 14:48] AhsanAyaz commented on #140
We might want to return `'iOS'` if the device is an iPad in that case. Should be an easy PR if someone wants to take a look 🙂

[2020-08-31 03:42] jitangupta commented on #167
@AhsanAyaz, I agree with you, introducing `deviceType` is not useful in the above scenario 🙂

But suppose you are logging the device info for analytical purpose and to get the `deviceType`, you will have to use all three functions.

And I think it does add additional complexity.
As two options are available to get the device info
```this.device.deviceType``` and  ```this.deviceDetectorService.isTa

[2020-08-31 10:02] AhsanAyaz commented on #167
For analytics, it does make sense though 🙂 We can add it I suppose.

[2020-09-10 13:37] mpuertao opened #168 "Error Execute Unit Test with Karma and Jest -> ngx-device-detector"
Hello.
I have a problem running unit tests with Karma and Jest. Error:

[code]

also happens with Jest.

Error con jest:
[code]

package.json
[code]

please help, and I've tried different versions of Karma, ngx-device-detector, tslib and it keeps crashing

[2020-09-10 15:30] AhsanAyaz commented on #168
@mpuertao Have you tried the latest version of `ngx-device-detector` as well? I.e. `2.0.0`?

[2020-09-10 22:26] mpuertao commented on #168
Thanks @AhsanAyaz  ,
I have tried several versions, including the last one, 2.0.0. Also with several versions of tslib up to 2.0.1 and the error continues. This happens to me both with Karma and with Jest:

[code]

Este error lo acabo de probar con las siguientes versiones:

[code]

I appreciate your kind help, it is passing us about 25 projects that use this dependency.

[2020-09-11 10:33] gigglegirl commented on #92
I am again facing this issue with "ngx-device-detector": "^1.4.2", package.json file looks something like below :

![image](https://user-images.githubusercontent.com/11388748/92913270-3c9d8400-f448-11ea-8181-3856a2ec0a3c.png)

[2020-09-11 14:21] mpuertao commented on #168
I have tried a thousand ways and I keep getting the error. I can share what you require, I appreciate the help

[2020-09-11 17:59] mpuertao commented on #168
Hello, this I just found, when compiling I get the error:

[code]

With the version 2.0.0 of ngx-device-detector

[2020-09-11 19:16] mpuertao commented on #168
I just found that the same thing happened to me as in this issue, I corrected it as indicated there, and it worked for me. What can be done with that patch @AhsanAyaz

https://github.com/KoderLabs/ngx-device-detector/issues/91

[2020-09-12 01:47] AhsanAyaz commented on #168
@mpuertao that means you were still using the old `forRoot` method in the project.
That has been removed in the earlier releases. Can you confirm your issue is resolved now?

[2020-09-12 21:43] mpuertao commented on #168
Hello @AhsanAyaz , best regards.
Run with the forRoot for versions prior to 1.3.6 and the problem persists.
Then I removed it in module, and I did it for 1.3.4, 1.3.5, 1.3.6, 1.3.9, 1.3.10 and 2.0.0 and the problem persists.
The only solution is to modify the ngx-device-detector.js file as indicated by the solution proposed in issue # 91

[2020-09-13 23:43] AhsanAyaz commented on #168
@mpuertao I'm sorry but I'm not able to reproduce the issue. And the fix for issue #91 was already fixed. See my comments on the issue. The person who reported also confirmed it. Use the latest package. And use the latest README

[2020-09-14 01:48] rzlification opened #169 "Samsung android tablet detected as Mobile"
Hi,

when i'm using samsung galaxy A tablet to detect device type, its detected as mobile instead of tablet which for my web app,  will be disable for mobile devices.

Device info:
Samsung Galaxy TabA SM-P585Y
Chrome 85.0.4183.101

[2020-09-16 18:53] mpuertao commented on #168
We had to correct the library, and upload it to our dependency manager in Artifactory with the correction that was exposed in issue # 91. Hopefully one day it can be corrected. Regards;

[2020-09-17 12:41] intellix opened #170 "docs: Detecting device in Universal/Express"
We're using Universal via Express and I noticed that it was detecting as desktop when using mobile emulation in Chrome but the ngx website was correctly detecting the user agent.

Looked through the codebase and saw nothing about universal detection so created this myself which is small enough for people to do themselves but could be documented to emphasise that it is a task that needs manually do

[2020-09-19 01:12] AhsanAyaz commented on #170
Thanks for raising this @intellix . Would you mind creating a PR for the docs? 🙂

[2020-09-19 15:50] #170 closed

[2020-09-21 23:54] keithjayme616 opened #173 "Getting SCRIPT1002: Syntax error in IE11 and showing blank/empty page"
Hi,

* This issue also happens in ngx-device-detector's demo page  **https://koderlabs.github.io/ngx-device-detector/demo/**
* I am using this library (ngx-device-detector) in our angular 8 project
* I have followed the instructions based on "IE10, IE11 Compatibility" section of this documentation.  And also I have tried using "core-js/es" instead of "core-js/es6" but both did not help.
* This is

[2020-09-22 05:34] ibuli commented on #173
I can confirm I'm also using this library in our Angular 9 Project.
The error I got was `Invalid Character` while running the local development server.
And after debugging a lot I found that even after using the polyfills in the `polyfill.ts` file the library doesn't work.
I manually changed the code at path `node_modules\ngx-device-detector\__ivy_ngcc__\fesm2015\ngx-device-detector.js` to ES5 usi

[2020-09-30 19:19] onedotover commented on #173
I'm hitting the same issue with Angular 8 and IE 11. I don't think it's a polyfill issue. It looks like that file is getting skipped when cli transpiles it to ES5.

[2020-10-02 13:32] kulik commented on #173
Have stuck with this issue too

[2020-10-02 15:06] onedotover commented on #173
The issue started in the 1.5 release after the refactor.

The problem in my setup was that my target in teconfig.json was set to es5. I'm not entirely sure why this package was getting skipped during compilation, but changing my target to es2015 did the trick.

Note, by making this change, Angular will compile separate es5 and es2015 bundles.

[2020-10-02 15:07] ibuli commented on #173
@onedotover are you able to use the same trick while running a local server with dev build?

[2020-10-02 15:12] onedotover commented on #173
I haven't tried loading ES5 from my local dev, however, Angular does have some documentation on this. I don't see why that this approach wouldn't work if you need to test IE 11 on a local dev build:
https://angular.io/guide/deployment#local-development-in-older-browsers

[2020-10-02 15:15] ibuli commented on #173
Thanks for sharing the link, but I've done that already.
Please check my comment above regarding what I'm facing right now after making the changes.

[2020-10-02 19:27] #168 closed

[2020-10-02 19:36] AhsanAyaz commented on #173
Hey @keithjayme616 , @ibuli , @onedotover, @kulik Thanks for bringing this to attention. Will have a look.

[2020-10-08 18:56] Nathan187 opened #174 "anyone else seeing this? export 'ɵɵdefineInjectable' was not found in '@angular/core"
experimenting with this tool.  simple hello world app is not running.  having the following error:

./node_modules/ngx-device-detector/fesm2015/ngx-device-detector.js 750:30-48
"export 'ɵɵdefineInjectable' was not found in '@angular/core'
warnings @ client:154

sorry if this was asked already

[2020-10-09 00:25] Nathan187 commented on #174
i manually removed 3 instances of ɵɵ

saw the idea here:  https://github.com/FortAwesome/angular-fontawesome/issues/147#issuecomment-533394744

[2020-10-09 00:25] #174 closed

[2020-10-20 18:50] AhsanAyaz commented on #169
Closed by #178

[2020-10-20 18:50] #169 closed

[2020-10-20 18:53] AhsanAyaz commented on #167
Closed by #176

[2020-10-20 18:53] #167 closed

[2020-10-20 18:53] AhsanAyaz commented on #140
Closed by #177

[2020-10-20 18:54] AhsanAyaz commented on #140
Closed by #177

[2020-10-20 23:18] #140 closed

[2020-10-22 01:23] sukhrobik commented on #92
I am using version 2.0.0 and am getting the same error now. Could somebody point me to the right solution?

[2020-10-23 14:05] DesigningStudios commented on #125
If you could add "orientation" that will really help.

[2020-10-26 04:01] ipratyushks commented on #173
I am facing the same issue as well. Is there any update @AhsanAyaz ?

[2020-10-26 07:00] ipratyushks commented on #173
hey @keithjayme616, did you find any fix?

[2020-10-26 07:17] keithjayme616 commented on #173
sorry i click the wrong button :-)

[2020-10-29 13:50] charafsalmi commented on #173
Hi,

![image](https://user-images.githubusercontent.com/278809/97582387-f8fdda00-19f5-11eb-9f57-e0a549b2b8b6.png)

My company has this issue as well, which is currently blocking a big product already in production.

Any new ?

[2020-10-30 01:40] keithjayme616 commented on #173
@charafsalmi for me as a workarround for this issue i opted to go down version and used 1.3.20
it would seem that old build (1.3.20) does not have this issue.

[2020-10-30 08:25] charafsalmi commented on #173
Hi
Thanks for this feedback that reminded me that I didn’t give you our feedback.
We also downgraded to a previous version we knew was working: 1.3.9.
Pay attention to the fact that you have to set it to exactly that version, without using the « ^ » character.
Best regards,
Charaf.

Envoyé de mon iPhone

[2020-11-02 08:47] ipratyushks commented on #173
Hi @keithjayme616 and @charafsalmi ,
I tried to downgrade to 1.3.20,
however I got a new error. Have you encountered this error before? Please help me out as my application is all set for production and it's not working on IE11.
![image](https://user-images.githubusercontent.com/50867008/97847740-142e5980-1d16-11eb-9df8-d59fedf04a18.png)

[2020-11-04 03:59] saritacutinha commented on #92
I'm facing the same issue with 1.4.6

[2020-11-05 07:14] AGharote commented on #92
I am using this version "ngx-device-detector": "^1.3.9" but still getting these warnings
WARNING in ./node_modules/ngx-device-detector/fesm2015/ngx-device-detector.js 750:136-144
"export 'ɵɵinject' was not found in '@angular/core'

[2020-11-05 11:29] wuCatalin commented on #162
Same problem. Downgraded to 1.4.6

[2020-11-08 13:28] biswas123 commented on #92
Yes same here with the latest 2.0.0 version, HELP!

[2020-11-11 12:26] biswas123 opened #180 "It is not always accurate on tablet devices, isMobile returns true on tablet."
hi there,

It is not always accurate on tablet devices, isMobile returns true on tablet while isTablet returns false. See screen shots and device information:

Device information is also in the screenshot. Tablet is of model Huwaei: MediaPad m5 lite 10 android version 8.0.0
![1](https://user-images.githubusercontent.com/9110000/98811658-4c861400-2449-11eb-9890-008b33665a6f.jpg)
![s](https://user-i

[2020-11-16 12:39] Sebi2909 commented on #180
Hello @biswas123 I have also encountered this issue with the following user agent string: "Mozilla/5.0 (Linux; Android 9; SM-T865) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.106 Safari/537.36".  It is Samsung Galaxy Tab 6 and it is recognized as a mobile device.

[2020-11-16 16:44] maiermic commented on #140
Has this Fix been released?

[2020-11-17 06:24] biswas123 commented on #180
Yes, please help!

[2020-11-17 21:51] BharatVTiwary opened #181 "Mac OS 11 support"
Mac OS 11 detection is not supported in the latest version. For the following user agents the version shows as
os_version: "unknown"

User agents:
Firefox v 82.0.3 - Mozilla/5.0 (Macintosh; Intel Mac OS X 10.16; rv:82.0) Gecko/20100101 Firefox/82.0
Google Chrome v 86.0 - Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36

[2020-11-18 06:34] biswas123 commented on #180
@Sebi2909 @ANahr  @staticint  @Gailbear

[2020-11-19 21:06] maiermic commented on #140
The [demo](https://koderlabs.github.io/ngx-device-detector/demo/) still shows Mac as OS and the [CHANGE_LOG.MD](https://github.com/KoderLabs/ngx-device-detector/blob/5b412ce64fb63293c84b179a7ed9ef87dd46503d/CHANGE_LOG.MD) does not mention this fix. Thereby, I assume that this fix has not been released.

[2020-11-20 04:01] eldhotkuriakose commented on #92
[code]

Same here with 1.3.5 version. I have changed it into 2.0.0 but the same error !!

[2020-11-20 13:12] biswas123 commented on #92
Why is repository authors not helping us :(

[2020-11-20 18:26] AhsanAyaz commented on #92
@biswas123 need more info. What is your Angular version? Could you share the contents of your package.json?
@eldhotkuriakose Same for you.

[2020-11-20 18:26] AhsanAyaz commented on #140
@maiermic on it now.

[2020-11-20 19:25] AhsanAyaz commented on #180
@biswas123 we need to add the UserAgent to our regexes. Share the UserAgent string pelase

[2020-11-20 19:40] AhsanAyaz commented on #140
@mattAux @maiermic released with the followig version
 https://github.com/KoderLabs/ngx-device-detector/releases/tag/v2.0.1

[2020-11-20 20:44] Sebi2909 commented on #180
@AhsanAyaz thank you for replying. The user agent string from @biswas123 can be found in the second screenshot. I have tried to update the regex myself but then I realised it is not permitted to push.

[2020-11-21 14:33] biswas123 commented on #92
@AhsanAyaz

    "ngx-device-detector": "2.0.0",
    "@angular-devkit/build-angular": "~0.13.0",
    "@angular/cli": "7.3.0",
    "@angular/compiler-cli": "^7.2.4",
    "@angular/language-service": "~7.2.4",

[2020-11-21 20:19] AhsanAyaz commented on #92
@biswas123 `v2.0.0` is not for Angular v7 apps.
Please downgrade to `1.3.9`

[2020-11-23 09:20] biswas123 commented on #180
@AhsanAyaz yes please use the regex from second screenshot

[2020-11-24 10:03] AbraamNader opened #182 "Angular Universal Error: window is not defined"
Angular Universal Error:
`window is not defined`
at
[device-detector.service.ts](https://github.com/KoderLabs/ngx-device-detector/blob/8956cdd64b36c36924ae3f1aaf06776d8fb0bbf2/projects/ngx-device-detector/src/lib/device-detector.service.ts)

Line number: 113

[code]

Can you please add an undefined check before accessing the window object (e.g. `typeof window !== 'undefined'`)?
if it is, set a def

[2020-11-26 14:31] Sathyamurthy-tammina commented on #92
@AhsanAyaz
"@angular-devkit/build-angular": "~0.6.0",
    "@angular/cli": "~6.0.0",
    "@angular/compiler-cli": "^6.0.0",
    "@angular/language-service": "^6.0.0",
So to version 6 what version of ngx device detector should i install. Thanks.

[2020-11-29 11:30] biswas123 commented on #180
HELLO GUYS ANY HELP!!! ??????????

[2020-11-30 04:36] Sathyamurthy-tammina commented on #92
@AhsanAyaz im still awaiting for your reply. Thankyou.

[2020-11-30 07:09] Parsa-Sedigh commented on #182
I get the same error.
Angular: 10.1.0
"ngx-device-detector": "^2.0.1"
I created the universal-device-detector.service and provided it in app.server.module the same as docs but I'm using that service in my component.

[2020-11-30 17:17] pritamgb commented on #182
Facing the same issue. Any solution or workaround for this?

[2020-11-30 20:15] EmhyrVarEmreis commented on #173
I've encountered this issue on IE too.

[2020-12-01 15:09] AhsanAyaz commented on #182
@AbraamNader , @Parsa-Sedigh
Closed by https://github.com/KoderLabs/ngx-device-detector/pull/183

Thanks to @pritamgb for the PR.
[New version 2.0.2 released with the fix](https://github.com/KoderLabs/ngx-device-detector/releases/tag/v2.0.2)

[2020-12-01 15:09] #182 closed

[2020-12-01 17:03] vroussel35 commented on #182
Thanks - @AhsanAyaz , @pritamgb

On my side, there is a new error : `ERROR TypeError: window.matchMedia is not a function`
(before, it was `window is not defined`)

I think the fix to test the window object should be the same than you used in the code :
`if (isPlatformBrowser(this.platformId) && typeof window !== 'undefined')`

Unfortunately, I don't know how to the PR stuff by myself and so on :-

[2020-12-01 20:07] AhsanAyaz commented on #182
@vroussel35 a new version [2.0.3](https://github.com/KoderLabs/ngx-device-detector/releases/tag/v2.0.3) has been released with the fix.
If you still find it as an issue, please comment and reopen the ticket :)

[2020-12-02 07:48] AhsanAyaz commented on #173
I have done the necessary changes in the demo project to work on ie11. I believe there's nothing required to do at the library side. It is the project that needs to be configured with the polyfills and requires installing some packages as well. See the changes in the link below for reference:
https://github.com/KoderLabs/ngx-device-detector/pull/184/files

You can also check the [demo page](https:

[2020-12-02 07:48] #173 closed

[2020-12-02 07:53] AhsanAyaz commented on #173
I've also updated the [README](https://github.com/KoderLabs/ngx-device-detector/blob/master/README.MD) with the updated instructions for IE10 and IE11

[2020-12-02 09:35] Parsa-Sedigh opened #185 "Can't correctly detect deviceType on server side"
I updated the package to v2.03 and I get no error in server side rendering, but when I used isPlatformBrowser() and isPlatformServer() for checking if we're currently in mobile or desktop, on the browser, the package can't correctly recognize I'm on mobile mode, but on the browser it does! Anyone can help me?

[2020-12-02 09:45] AhsanAyaz commented on #185
@Parsa-Sedigh Are you using the instructions correctly from the README?
I.e using a custom service like `universal-device-detector.service.ts:` with the following code:

[code]

If not, please refer to the readme.
If you're already doing it, could you share what's the output of the device info?

[2020-12-02 11:15] Parsa-Sedigh commented on #185
@AhsanAyaz Thank you for respond. I already created that service and provided it in app.server.module as instruction says. Then I injected that service in app.component.ts and then created a method there which is:
[code]
Then I checked my STATE_KEY_ISMOBILEMODE by using isPlatformBrowser() and isPlatformServer() . In the server I get:
`
deviceInfo is:  {
  userAgent: '',
  os: 'Unknown',
  browser

[2020-12-02 12:07] AhsanAyaz commented on #185
Oh... That's painful @Parsa-Sedigh  💔
I'm gonna have a look later today at what's going on there.
Do you have a sample project I could look at? 🙂

[2020-12-02 19:48] AhsanAyaz commented on #185
@Parsa-Sedigh follow up question. What is your `userAgent` string? Can you log it on the server side?

[2020-12-03 12:45] AhsanAyaz commented on #185
@Parsa-Sedigh I developed a demo for SSR with the library and deployed it.
The implementation is in [this PR](https://github.com/KoderLabs/ngx-device-detector/pull/186)
And here's [the demo link](https://ngx-device-detector-ssr.herokuapp.com/).

Open the demo link, right-click on the page and click View Page Source, you should see the correctly rendered page as the raw source. Notice that the demo

[2020-12-03 12:45] #185 closed

[2020-12-03 15:20] KamilPuczka opened #187 "Memory leak and performance"
Hi,

I found issue with your library. It causes memory leaks. [https://github.com/KoderLabs/ngx-device-detector/blob/master/projects/ngx-device-detector/src/lib/device-detector.constants.ts](url) here you create regex objects. Those objects cannot be handled by garbage collector.  Regex should be created if needed and destroy after check. Keep them like that make them unavailable for garbage colle

[2020-12-04 13:31] ajafff opened #188 "iPad (6th Generation) v14.0.1 not correctly recognized"
Using `ngx-device-detector@2.0.1`

Safari: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0 Safari/605.1.15`
Firefox Daylight 29.1: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1 Safari/605.1.15`

Both give the following results:

device: `Unknown`, expected `iPad`
deviceType: `tablet`
os:

[2020-12-04 13:35] ajafff commented on #188
Idea for a possible solution:
It seems like you cannot get the information from the UserAgent. IIRC you can distinguish iPad and Mac by checking for multi-touch support (iPad has it, Mac doesn't): https://stackoverflow.com/a/58979271

[2020-12-04 14:20] Mokette opened #189 "Angular 11 support"
Hello :)
Just upgrading to angular 11 and saw a warning when on peer dependencies using ngx-device-detector
`ngx-device-detector@2.0.4 requires a peer of @angular/common@>=7.0.0 <9.0.0 || ^9.0.0-0 ||^10.0.11`

Will it be possible to have a release with support to angular 11 please.

Thanks for reading.

Regards,

[2020-12-05 13:08] AhsanAyaz commented on #188
Hey @ajafff . Thanks for reporting this with the details 👍
We're already [checking the touchpoints in our code](https://github.com/KoderLabs/ngx-device-detector/blob/aeee5d274a1962343d03fb08777ea4bef16d16ac/projects/ngx-device-detector/src/lib/device-detector.service.ts#L77). However, I see that we might not be having the `platform` set to `MacIntel ` maybe, otherwise it should work actually.
Did

[2020-12-05 13:48] ajafff commented on #188
This was tested on a real device.

I tried to contribute a fix. Unfortunately I don't understand what's going on in the code.  For example, I don't know how the condition on line 72 could ever be true.

[2020-12-05 17:59] AhsanAyaz commented on #189
Good catch @Mokette. The library already support Angular 11 🙂. Just the peer dependencies need to be updated to get rid of that warning. Will do so :)

[2020-12-05 18:00] AhsanAyaz commented on #188
Ahan. I'm gonna see if this is the same on my iPad 2. If it isn't the same, then wouldn't be able to test it unfortunaly.

[2020-12-07 08:18] ajafff commented on #188
I just tested that. `navigator.platform` is actually set to `iPad`

[2020-12-07 16:10] AhsanAyaz commented on #188
@ajafff then that's the cause. We can add this to the code then. I'm gonna try to get it done and released soon. Feel free to share a PR if you got time. I'll do it otherwise as soon as possible.

[2020-12-12 05:17] adnanebrahimi commented on #189
Any updates?

[2020-12-30 11:08] darpankumar commented on #189
This warning occurs because when you install the package if its peer dependencies are not listed in package-lock.json then it gives you this warning, as mentioned above adding version ^11.0.0 into peer dependencies will remove the warning.

[2020-12-30 11:16] darpankumar commented on #189
@AhsanAyaz I am not sure what's wrong with the build why is it failing seems like some issue with deployment, will you please help

[2021-01-05 12:56] Sebi2909 opened #191 "Tablet Issue"
Hello, I have discovered an issue where tablets are not recognised as tablets. Here are the user agents -> #180

"Mozilla/5.0 (Linux; Android 9; SM-T865) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.106 Safari/537.36"

&

"Mozilla/5.0 (Linux; Android 9; Lenovo TB-X606F Build/PPR1.180610.011;wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/86.0.4240.185 Safari/537.36"

@bisw

[2021-01-06 11:00] narasing494599 opened #192 "Generic type 'ModuleWithProviders<T>' requires 1 type argument(s)."
I am trying to update angular from version 7.2 to v10, i get below error. Is there any solution for this.

ERROR: node_modules/ngx-device-detector/index.d.ts:3:23 - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type
argument(s).

3     static forRoot(): ModuleWithProviders;

[2021-01-12 08:53] AhsanAyaz commented on #189
@darpankumar , @Mokette a new release `2.0.5` has been published with the fix.
Thanks.

[2021-01-12 08:53] #189 closed

[2021-01-13 10:45] DSRM commented on #162
@AhsanAyaz Can you please let us know how can we make things work in version2.0.5 of the library which does not include  DeviceDetectorModule ? An example using  Angular 9+ would be really helpful. Thanks.

[2021-01-13 11:13] DSRM opened #193 "Using the latest version of library without DeviceDetectorModule gives errors."
@AhsanAyaz Can you please let us know how can we make things work in version2.0.5 of the library which does not include DeviceDetectorModule ? An example using Angular 9+ would be really helpful. Thanks.

I get the following error:
ERROR in src/app/app.module.ts(32,9): error TS2305: Module '"../ui/node_modules/ngx-device-detector/ngx-device-detector"' has no exported member 'NDeviceDetectorModule'

[2021-01-14 18:49] karlosvallejo commented on #92
Installing the library by this way "npm i ngx-device-detector@~1.3.9" (~ required)  is working correctly on angular 7

[2021-01-14 20:46] AhsanAyaz commented on #92
@Sathyamurthy-tammina Could you confirm what @karlosvallejo has mentioned?
The library dropped support for Angular v6 officially, but v1.3.9 should still work on it I believe. Please verify.

[2021-01-14 20:48] AhsanAyaz commented on #193
@DSRM your error says `NDeviceDetectorModule`. Is that a typo mistake? There seems to be an extra `N` at the beginning.
The module's correct name is `DeviceDetectorModule`

[2021-01-17 15:21] DSRM commented on #193
@AhsanAyaz That's a typo, you can please ignore that. I meant DeviceDetectorModule. Since its not present in the recent versions hence it's giving the above error.

[2021-01-22 11:13] AhsanAyaz commented on #193
Hey @DSRM.
1. Please don't use the DeviceDetectorModule since you don't need it for 2.0.5. Everything should work fine out of the box.
2. What is the UA (UserAgent) shown for your desktop? Try logging `window.navigator.userAgent` to your console.
3. You have to pass the `userAgent` to the `isDesktop()` method. Although you shouldn't need to because it is set automatically. But if you do want it fo

[2021-01-22 11:14] AhsanAyaz commented on #192
Hi @narasing494599 . The provided information isn't enough to debug it.
Are you trying to import the DeviceDetectorModule in your AppModule with the .forRoot() syntax?
Which version of the library are you using?

[2021-01-26 04:08] AhsanAyaz commented on #187
@KamilPuczka good points. Will get on it.

[2021-01-28 22:23] bncunha opened #194 "Tablet Recognizing as mobile"
Hello! I tested 2 samsung tablets with thise user agents "sm-t385m" and "sm-p585m" but is recognizing as mobile.

[2021-01-29 13:55] DSRM commented on #193
Thanks @AhsanAyaz I'd try this out.

[2021-01-29 16:17] #193 closed

[2021-01-30 05:30] mariomazon commented on #191
Hi. Samsung s6 tab lite also recognizes as mobile, instead of tablet !

see user agent:
Mozilla/5.0 (Linux; Android 10; SM-P615) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.93 Safari/537.36

[2021-01-30 17:11] Avinash-Gupta-B opened #195 "IE Issue on angular 8"
I am using ngx-device-detector with version 1.4.2 on my angular 8 Project, Plugin works fine in Chrome, but fails on IE11

on Local(dev) throws error as below

![image](https://user-images.githubusercontent.com/24951832/106363000-dc05d980-634b-11eb-88ce-ea239e02e31c.png)

![image](https://user-images.githubusercontent.com/24951832/106363098-782fe080-634c-11eb-9247-99138072859d.png)

on Server erro

[2021-02-03 10:24] sagar-beep commented on #92
install  npm i ngx-device-detector@~1.3.9 like this,u can remove ur  above warnings

[2021-02-05 13:50] HaraldStiwa commented on #162
@DSRM
For me it was enough to remove `import {DeviceDetectorModule} from 'ngx-device-detector';` and `DeviceDetectorModule.forRoot()` from `app.module.ts` after an update.

[2021-02-05 17:43] AhsanAyaz commented on #162
@DSRM , yes, please do as @HaraldStiwa has suggested :)

[2021-02-15 07:58] exp-ajeesh opened #196 "Not detecting device"
Hello,
I am using ngx-device-detector with version 1.4.5 on my angular 7 Project.

Device type not getting in the below user types
1. Mozilla/5.0 (Mobile; ALCATEL 4052R; rv:48.0) Gecko/48.0 Firefox/48.0 KAIOS/2.5.2
2. Mozilla/5.0 (Mobile; rv:49.0) Gecko/49.0 Firefox/49.0

The result of the above user agents is

userAgent | Mozilla/5.0 (Mobile; ALCATEL 4052R; rv:48.0) Gecko/48.0 Firefox/48.0 KAIOS/

[2021-02-24 08:23] dertuerke commented on #173
not working. still same error

[2021-02-24 19:15] AhsanAyaz commented on #173
@dertuerke what issue are you facing? Did you follow the [README](https://github.com/KoderLabs/ngx-device-detector/blob/master/README.MD) ?

[2021-02-24 19:35] dertuerke commented on #173
Your plugin is not compatible with es5.
Plugins don't converter by the cli in es5.

The instructions not helping here.

[2021-02-26 06:29] Sathyamurthy-tammina commented on #92
@AhsanAyaz i have done the "ng2-device-detector": "^1.0.1" install. As, my angular version in 6. For now things are working fine. Thank you.

[2021-02-27 19:56] #92 closed

[2021-03-02 12:54] avargas26 commented on #187
hi, first thank you for your cooperation for this lib, but need know if update lib with respect in the question old.

[2021-03-03 02:31] hkkhchan opened #198 "[error]Failed to execute 'add' on 'DOMTokenList': The token provided ('Nexus Phone') contains HTML space characters, which are not valid in tokens."
ERROR DOMException: Failed to execute 'add' on 'DOMTokenList': The token provided ('Nexus Phone') contains HTML space characters, which are not valid in tokens.

[2021-03-03 02:32] #198 closed

[2021-03-17 04:51] biswas123 opened #200 "Object(...) is not a function"
angular version: 7.2.4
"ngx-device-detector": "2.0.6",

I get this error:
**Object(...) is not a function**

[2021-03-29 21:15] mhosman commented on #195
Same issue here!

[2021-04-03 02:29] tuananhzippy commented on #200
I also encountered a problem similar to yours. If you are using Angular 7 please use version 1.3.5.

`npm install ngx-device-detector@1.3.5`

[2021-04-15 04:47] hkkhchan opened #202 "don't work on IE11 Invalid character"
`const MOBILES_RE = {
    // tslint:disable-next-line:max-line-length
    HTC: /HTC|HTC.*(Sensation|Evo|Vision|Explorer|6800|8100|8900|A7272|S510e|C110e|Legend|Desire|T8282)|APX515CKT|Qtek9090|APA9292KT|HD_mini|Sensation.*Z710e|PG86100|Z715e|Desire.*(A8181|HD)|ADR6200|ADR6400L|ADR6425|001HT|Inspire 4G|Android.*\bEVO\b|T-Mobile G1|Z520m|Android [0-9.]+; Pixel/,
    NEXUS_PHONE: /Nexus One|Nexus S|G

[2021-04-19 12:59] olga-aptekar commented on #191
Hi! I have the same issue.
Device: Samsung TAB A7.
User agent: Mozilla/5.0 (Linux; Android 10; SM-T500) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.105 Safari/537.36.

As I see, 'SM-T500' is absent in the tablets' list here: https://koderlabs.github.io/ngx-device-detector/miscellaneous/variables.html#TABLETS_RE.
Could you please update the devices' lists?

Could you please clarify, do

[2021-04-19 13:09] olga-aptekar commented on #191
#194

[2021-04-19 15:19] AhsanAyaz commented on #191
Hi @olga-aptekar. We don't update the devices regularly due to time constraints. However, we should be adding the devices anyone reports as soon as possible. And I've been pretty bad at that lately due to some commitments. Since this is a community project, I was hoping for PRs 🙂 .
I will however add all the user strings as soon as possible and will create a release soon.

[2021-04-20 01:11] #191 closed

[2021-04-20 01:11] #194 closed

[2021-04-20 01:21] AhsanAyaz commented on #191
@olga-aptekar @mariomazon @Sebi2909
Released with https://github.com/KoderLabs/ngx-device-detector/releases/tag/v2.0.7

[2021-04-20 01:21] AhsanAyaz commented on #194
@olga-aptekar
Released with https://github.com/KoderLabs/ngx-device-detector/releases/tag/v2.0.7

[2021-04-20 01:26] AhsanAyaz commented on #200
Hey @biswas123 , does @tuananhzippy 's suggestion fix your issue?

[2021-04-20 01:27] AhsanAyaz commented on #202
Could you share which Angular version are you using @hkkhchan ?

[2021-04-20 01:37] hkkhchan commented on #202
I use Angular 8. I found this error cause by my node-module folder. If I build the project on others computer. It work. I think It may be caused by Angular Icy but I'm not sure.

I think it may be better to avoid useing the character ` because it 's not support by ie11.

[2021-04-20 07:43] olga-aptekar commented on #194
@AhsanAyaz , great! Thanks a lot.

[2021-04-21 12:11] laurenzhonauerProfit opened #204 "Angular not Compiling with ngx-device-detector"
I cannot run ng serve since I updated ngx-device-detector.

Previous Version
`"ngx-device-detector": "^1.3.20"`

New Version
now I am using
`"ngx-device-detector": "^2.0.7"`

The new version is causing the error

`Compiling ngx-device-detector : module as esm5
[33mWarning:[0m Invalid constructor parameter decorator in /home/sysadmin/workspace/publish/wien_mobil_web/wmw-app/node_modules/ngx-devic

[2021-04-21 13:50] kievsash opened #205 "Device info is determined for service creation time only"
Problem:
I often use Chrome device emulation (in Chrome dev tools) but if I load page in browser mode and then switch to device emulation - deviceDetectorService.isDesktop() starts showing wrong information (as if it is still Desktop)

Here is reproduce movie:
https://gfycat.com/regalgenerousjaeger

I think better to extract this code from constructor to some update() method and call it in constuc

[2021-04-22 08:31] AhsanAyaz commented on #196
@exp-ajeesh Could you define the expected values for both regex you want to get out?

[2021-04-22 08:34] AhsanAyaz commented on #205
@kievsash . I'm not sure how much this update method is going to be used since it is for a very specific case and not for the end-users.
We also have the `setDeviceInfo()` method in which you can set the device info at a later time. Does that help?

[2021-04-22 16:45] AhsanAyaz commented on #204
What version of Angular are you on @laurenzhonauerProfit ?

[2021-04-22 16:47] AhsanAyaz commented on #202
Makes sense. For IE11, make sure you're using the polyfills as mentioned in the [Readme](https://github.com/KoderLabs/ngx-device-detector#ie10-ie11-compatibility).
Since you're not able to reproduce it on other machines, I'm closing the issue.

[2021-04-22 16:47] #202 closed

[2021-04-22 21:06] AhsanAyaz commented on #195
@Avinash-Gupta-B
@mhosman
Can you please confirm you've reviewed the instructions here?
https://github.com/KoderLabs/ngx-device-detector#ie10-ie11-compatibility
I.e. you have to enable polyfills as shown in the following PR
https://github.com/KoderLabs/ngx-device-detector/pull/184/files

[2021-04-22 21:19] #181 closed

[2021-04-25 16:40] laurenzhonauerProfit commented on #204
9.0.2

here is my dependencies block from package.json

`
[code]

[2021-04-27 18:50] kievsash commented on #205
Yes, i guess updating through this method is quite enough
Thank you

[2021-04-27 18:50] #205 closed

[2021-04-28 08:08] #200 closed

[2021-04-28 08:09] AhsanAyaz commented on #192
Closing it due to no activity on the issue.

[2021-04-28 08:09] #192 closed

[2021-04-28 11:55] exp-ajeesh commented on #196
Expected values are

Property | Value
-- | --
userAgent | Mozilla/5.0 (Mobile; rv:49.0) Gecko/49.0 Firefox/49.0
os | Firefox-OS
browser | Firefox
device | Firefox-OS
os_version | unknown
browser_version | 49.0
deviceType | Mobile
orientation | landscape
isDesktop() | false
isMobile() | true
isTablet() | false

os | Firefox-OS
-- | --
browser | Firefox
device | Firefox-OS
os_version | unknown
brows

[2021-04-28 20:49] AhsanAyaz commented on #196
@mohsinayaz
- Add `KAIOS\/[0-9_]*\.[0-9_]*\.[0-9_]*` to the `OS_VERSIONS_RE_MAP` for Firefox_OS

[2021-04-28 20:56] AhsanAyaz commented on #133
@mohsinayaz Add the regex to regex map https://github.com/KoderLabs/ngx-device-detector/blob/master/projects/ngx-device-detector/src/lib/device-detector.constants.ts#L513

[2021-04-28 21:00] AhsanAyaz commented on #133
Also add `Android 9` to the OS_VERSION and OS_VERSION_RE appropriately.
Also, add `Mi SE 9` to the DEVICES and DEVICES_RE as `Xiaomi`

[2021-04-29 21:31] AhsanAyaz commented on #196
Closed by #207

[2021-04-29 21:31] #196 closed

[2021-04-29 21:31] AhsanAyaz commented on #133
Closed by #208

[2021-04-29 21:31] #133 closed

[2021-04-30 15:48] simdrouin opened #210 "Chrome and Safari on Mac are no longer detected as Desktop"
Hi,

It looks like with the latest version, v2.0.8, when using Chrome and Safari on Mac, **deviceDetector.isDesktop()** returns **false**.

Reverting to v2.0.7 fixes the issue.

My user agent on Chrome:
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36

And on Safari:
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/

[2021-05-03 13:10] sumitgsh commented on #188
Is it done !!
Would love to work on it..

[2021-05-03 14:06] AhsanAyaz commented on #188
Hey @sumitgsh . Not yet. Feel free to raise a PR if you're interested.

[2021-05-05 02:11] #210 closed

[2021-05-05 02:18] AhsanAyaz commented on #210
@simdrouin . Fixed in [Release v2.0.9](https://github.com/KoderLabs/ngx-device-detector/releases/tag/v2.0.9)

[2021-05-05 02:19] AhsanAyaz commented on #195
Closing due to no activity on the issue.

[2021-05-05 02:19] #195 closed

[2021-05-08 04:38] derkoe opened #214 "License is missing on npmjs.org"
The license filed is missing in the package.json that is deployed to [npmjs.org](https://www.npmjs.com/package/ngx-device-detector).

It would be great to add it so that license analysis works without tweaks.

[2021-05-10 23:49] AhsanAyaz commented on #214
@derkoe Thanks for the PR 🙂 Much appreciated 🎉

[2021-05-10 23:50] #214 closed, assigned to nobody

[2021-05-13 17:00] eesquibel opened #216 "Add Angular 12 support"
Angular 12 has just come out and it would be nice to see support for it added to ngx-device-detector.

Right now adding it to a clean Angular 12 site results in the following error:

\# ng new --routing --style scss angular12
\# cd angular12
\# npm install --save ngx-device-detector

npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: angular12@0.0.0
npm ERR! Fou

[2021-05-13 19:34] LucasLopesr commented on #204
same problem

Angular version : 9.1

[2021-05-19 13:28] DirkStorck opened #218 "Add support for Tablet Honeywell RT10A"
Hi,

could you please add support for the "Honeywell RT10A".
At the moment
_isTablet()_ returns false
and
_isMobile()_ return true

Example User-Agent:
_"Mozilla/5.0 (Linux; Android 10; **RT10A**) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.101 Safari/537.36"_

Thank you!

[2021-05-20 14:33] mmonteiroc opened #219 "Mac OS BIG SUR"
The device detector is detecting mac os big sur with chrome as tablet, instead of desktop :(

[2021-05-22 21:34] AhsanAyaz commented on #219
@mmonteiroc . Please share your userAgent so we can debug it further. The provided information isn't enough 🙂

[2021-05-25 09:43] mmonteiroc commented on #219
Hello ! yes sure ! This is all the results for all the calls that the service allows me to do :)

As you can see apparently is not as mentioned before that it detects tablet instead of desktop... is that directly does not detect anything... so for ngx-device-detector, my macbook is neither a tablet/phone or desktop....

-
![Captura de pantalla 2021-05-25 a las 11 43 26](https://user-images.githubu

[2021-05-26 09:38] AhsanAyaz commented on #219
Well, I would've loved to have the above as text so I could copy the `userAgent` string 😄 Since I can't copy from the image.

[2021-05-26 09:40] AhsanAyaz commented on #219
Also, @mmonteiroc Can you share your package.json so I can see what Angular version and what version of ngx-device-detector you're using?

[2021-05-26 09:58] AhsanAyaz commented on #216
Closed by #217

[2021-05-26 09:58] #216 closed

[2021-05-26 09:59] AhsanAyaz commented on #218
@DirkStorck closed by #220. Should be available in the next release.

[2021-05-26 09:59] #218 closed

[2021-06-04 17:21] mmonteiroc commented on #219
Fixed by migrating to latest version.

We had angular 11 latest version + ngx-device-detector 2.0.9

[2021-06-04 17:21] #219 closed

[2021-06-17 08:07] Sebi2909 commented on #204
@AhsanAyaz I have the same issue. Are there any updates regarding this issue ?

[2021-06-23 10:54] AhsanAyaz commented on #204
@laurenzhonauerProfit , @Sebi2909 I suspect the issue is with Angular 9.x.
As shown in the Readme, please use version 1.4.1 which is compatible with Angular 9.x

[2021-06-25 01:16] Crypt0Graphic commented on #204
I used it with two projects (Angular 11 & 12) in this month. Works well. It's probably about Angular 9.

[2021-07-07 11:01] AlexanderLohmeyer opened #222 "MacOS 11.4 is detected as MacOS 11.0"
Hi,
i am using ngx-device-detector in angular 11/electron 11 environment. I am currently on the latest macOS 11.4 version

stringified Output of getDeviceInfo():
[code]
Although the user-agent outputs the right version 11.4, the os_version is shown as mac-os-x-11-0.
The expected output were either mac-os-x-11-4 or mac-os-x-11.

[2021-07-13 05:42] akaustav opened #223 "`v2.0.3` is incompatible with Angular 11"
### Describe the bug

From the [compatibility table in current README.md file](https://github.com/KoderLabs/ngx-device-detector/blob/54bd6a127243981d3a36521bcaa4032588a0dd23/README.MD#dependencies), version **2.0.3** of `ngx-device-detector` is supposed to be compatible with Angular 11.
However, `npm` (or `yarn`) throws compatibility warnings when that version of `ngx-device-detector` is installed

[2021-07-13 05:51] akaustav commented on #223
The warning does not appear for version 2.0.5 of `ngx-device-detector`

[2021-07-14 13:43] samarhaider commented on #70
You may need to import in `app.module.ts` file

[2021-07-14 13:44] samarhaider commented on #204
You may need to import in `app.module.ts` file

[2021-08-02 11:32] BigApeJohny opened #225 "Not detecting tablet device on iPad."
**Describe the bug**
The iPad is detected as desktop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any view using deviceDetector
2. Watch that library is not detectking iPad as mobile / tablet.

**Expected behavior**
Library is detecting iPad as mobile / tablet.

**Smartphone (please complete the following information):**
 - Device:  Ipad 7th Genetarion Wi-Fi 32GB
 - OS: iOS14.6
 -

[2021-08-02 11:42] #225 closed

[2021-08-02 15:19] #223 closed

[2021-09-02 14:41] venoby commented on #225
Hi @BigApeJohny , I have the same issue with version 2.1.1 and Angular 11. Why did you close this ticket? How did you resolve this problem?

Thanks!

[2021-09-28 15:52] sarahtully opened #226 "Incorrect osVersion detected"
**Describe the bug**
deviceInfo.osVersion appears to be reporting incorrect versions

**To Reproduce**
Steps to reproduce the behavior:
1. console.log(this.browserService.deviceInfo.osVersion)

Seeing mac-os-x-15 which does not exist.

"browser": "Chrome",
"browserVersion": "94.0.4606.54",
"device": "Macintosh",
"os": "Mac",
"osVersion": "mac-os-x-15",
"userAgent": "Mozilla/5.0 (Macintosh; Intel M

[2021-11-07 05:26] decoded4620 opened #227 "Support Angular 13.0"
Support Angular 13.

[2021-11-16 12:35] omio-ma opened #228 "device detector is flagging ipad and iphone devices as desktop"
**Describe the bug**
After upgrading to the latest version we have identified that the isDesktop function is returning true for iphone and ipad devices. We have also noticed the same result when trying out this app:
https://koderlabs.github.io/ngx-device-detector/demo/

We have attached screenshots of what it returns.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[...](https://koder

[2021-11-23 20:14] nicholas-ochoa commented on #227
I've submitted a Pull request (#229) that adds partial compilation support for Angular 13

[2021-11-25 21:54] #227 closed

[2021-11-25 22:37] AhsanAyaz commented on #227
@nicholas-ochoa thanks for the PR.
The newer version with Angular v13 support is released!
https://github.com/KoderLabs/ngx-device-detector/releases/tag/v2.2.0

[2021-11-26 16:02] babarinde opened #234 "Breaking our build on Angular 11"
**Describe the bug**
When we try to build our app it fails

**To Reproduce**
Steps to reproduce the behavior:
1. running `npm run build`
2. we get [this error](https://gist.github.com/babarinde/2f7ee4987616cbae038fec005e777258)

**Expected behavior**
A Failed build but strangely, the build works on my local machine
"ngx-device-detector": "^2.1.1",

[2021-11-28 10:47] csphmayy commented on #234
Also getting the same error with "ngx-device-detector": "^2.0.6"

[2021-11-28 14:14] tructuthien commented on #234
same issue with new version 2.2.0

[2021-11-28 16:18] csphmayy commented on #234
@tructuthien Thanks! Version 2.1.1 is also working for me :-)

[2021-11-29 04:58] Adam-Langley commented on #234
+1 - 2.2.0 is broken - 2.1.1 is fine.
More specific error here:

[code]

[2021-11-29 12:51] cufarvid commented on #234
Same issue with version 2.2.0 and Angular 10.

[2021-11-30 01:45] AhsanAyaz commented on #234
Fixed with a new release [2.2.1](https://github.com/KoderLabs/ngx-device-detector/releases/tag/v2.2.1)
Try the update and let me know if then issue is resolved 🙂

[2021-11-30 08:34] cufarvid commented on #234
Works for me. Thanks for the update.

[2021-11-30 10:50] babarinde commented on #234
Resolves the issue. Thanks for the Good work

[2021-11-30 10:50] #234 closed

[2021-12-16 08:47] softmonkeyjapan commented on #174
I had the exact issue (I'm using `Angular@7.2.0` and `ngx-device-detector@1.3.3`). To be more precise, you have to replace both `ɵɵdefineInjectable` and `ɵɵinject` by respectively `defineInjectable` and `inject` in the file @Nathan187 mentionned

[2022-01-14 21:25] rmeske commented on #228
This is the problem relying on the user agent.  Apple made a decision to change iPadOS to report as macOS.  Their reasoning is they wanted their users to have a universal experience regardless of the device being used to view a web page.  Their argument is that html pages should be designed to be responsive to the screen size not the device.  I have no doubt that at some point in the future iOS wi

[2022-01-19 16:52] rmeske opened #239 "Add Standalone as a property"
When running a PWA there are times when you need to know which browser and device you are working on.  This utility is a great tool for retrieving that information, but the one piece that would be helpful is if the app is running in the browser in a standalone mode.  Knowing this is useful for:
- Whether to present an installation prompt, especially on iOS
- Screen layout
- Opening links

Having a

[2022-02-08 12:13] gabibianconi commented on #200
For those running on this issue. Check this:
![image](https://user-images.githubusercontent.com/25694348/152984891-265bc75d-e1ba-498b-8066-edf03f4ddffe.png)

[2022-02-15 21:26] jdiego0102 opened #242 "Angular"

[2022-02-28 03:28] ngtanthanh commented on #188
text

[2022-03-10 18:36] Rybadour commented on #228
My team just tested this on IPhone 13, IOS 15.3.1, Safari and it seems to have been fixed.

deviceType = mobile
isDesktop() = false
isTablet() = false
isMobile() = true

[2022-05-03 11:55] niklaspeura opened #244 "[MISSING DEVICE] Samsung Galaxy Tab S6 WiFi"
## Device User Agent
Mozilla/5.0 (Linux; Android 11; SM-T860) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.104 Safari/537.36
OR
Mozilla/5.0 (Linux; Android 11; SAMSUNG SM-T860) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/16.0 Chrome/92.0.4515.166 Safari/537.36

## Expected Output

[code]

[2022-06-14 13:15] hipperbyte opened #247 "Support For Angular 14.0"
Support for Angular v14, please.

[2022-06-14 18:23] jornfranke commented on #247
As a temporary workaround: You can make it run under Angular 14.0 by adding this to package.json
[code]

However, be aware that this does not guarantee that it works under all circumstances. Hence, it is better that the maintainers of this package officially check if anything blocks under Angular 14

[2022-06-17 10:02] MikeMoolenaar commented on #247
Thanks, works great. Just wanted to mention the `"overrides"` property is supported by NPM 8 and above, so make sure you have the latest version by running `npm i -g npm`.

[2022-07-05 22:36] #247 closed

[2022-07-14 09:33] Nerabio opened #249 "[MISSING DEVICE] HUAWEI AGS-L09 The device is defined as mobile, but it should be a tablet"
## Device User Agent
Mozilla/5.0 (Linux; Android 7.0; AGS-L09) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36

## Expected Output
{
    "userAgent": "Mozilla/5.0 (Linux; Android 7.0; AGS-L09) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
    "os": "Android",
    "browser": "Chrome",
    "device": "Android",
    "os_version": "unknown",
    "browser_

[2022-07-14 09:37] Nerabio commented on #249
<img width="634" alt="image" src="https://user-images.githubusercontent.com/17641286/178952520-678e1bf4-5621-4583-bdc9-e3370d78729d.png">

[2022-08-18 21:21] AhsanAyaz commented on #242
@jdiego0102  I'm closing this ticket since there is no description

[2022-08-18 21:21] #242 closed

[2022-08-19 04:31] samuelkavin opened #252 "Jest encountered an unexpected token - SyntaxError: Unexpected token 'export'"
**Describe the bug**
I'm using angular 12 and jest for unit test and getting following error. I couldn't find any solution. Can anyone please advice how to configure this in jest.config?

**Screenshots**
<img width="1183" alt="Screenshot 2022-08-19 at 12 22 10 PM" src="https://user-images.githubusercontent.com/5300968/185542421-f6b24c57-9183-454b-a9da-a50c1fff3d90.png">

[2022-08-22 12:22] kian23kpt opened #253 "always detected as mobile in inspect element"
**Describe the bug**
when use browser inspect element for developing, always shows mobile as detected device.

**Expected behavior**
base on resizing windows width, show correct devices

**Screenshots**
![Screen Shot 2022-08-22 at 16 47 05](https://user-images.githubusercontent.com/48172978/185920069-106d59c4-a0e3-49f1-a337-fe35c333f88b.png)

[2022-09-13 09:24] SoyDiego commented on #225
I have the same problem.
I tested in browser using IPAD mode and works only in LANDSCAPE but in PORTRAIT doesn't work.
Why is closed?

[2022-10-17 03:56] samuelkavin opened #254 "[MISSING DEVICE] - Decvice (POCO X3 NFC - OS(Android 11)"
## Device User Agent
Mozilla/5.0 (Linux; Android 11; M2007J20CG) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Mobile Safari/537.36

## Expected Output

It should return os version in this case its `android-11` instead of `UNKNOWN`

[2022-10-29 05:05] Dum6o commented on #252
Same issue

[2022-11-17 10:27] marfyl opened #257 "Support Angular 15"
**Describe the bug**
Angular 15 was released. Dependencies could not be resolved